<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="~{./admin/thfragments/fragments.html :: headTag}"></th:block>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/admin/assets/extra-libs/multicheck/multicheck.css">
    <link href="/admin/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <link rel="stylesheet" href="/css/summernote/summernote-lite.css">
</head>
<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <th:block th:insert="~{./admin/thfragments/fragments.html :: preloader}"></th:block>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <th:block th:insert="~{./admin/thfragments/fragments.html :: topbarHeader}"></th:block>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <th:block th:insert="~{./admin/thfragments/fragments.html :: leftSidebar}"></th:block>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Tables</h4>
                        <div class="ms-auto text-end">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                    
                    <!-- ============================================================== -->
                    <!-- 신청목록 시작 -->
                    <!-- ============================================================== -->
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title mb-0">신청 목록</h5>
                            </div>
                            <th:block th:if="${#lists.size(applyList) == 0}">
				                    <div class="card-body text-center">
					                    <h1 class="m-5">표시할 신청이 없습니다.</h1>
				                    </div>
		                    </th:block>
		                    <th:block th:unless="${#lists.size(applyList) == 0}">
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col" class="align-middle">
                                        	<label class="customcheckbox mb-3">
                                                <input type="checkbox" id="mainCheckbox" />
                                                <span class="checkmark"></span>
                                            </label>
                                        </th>
                                        <th scope="col" class="align-middle text-center">신청번호</th>
                                        <th scope="col" class="align-middle text-center">상담사(분야)</th>
                                        <th scope="col" class="align-middle text-center">신청자(학번)</th>
                                        <th scope="col" class="align-middle text-center">상담일자</th>
                                        <th scope="col" class="align-middle text-center">상담시간</th>
                                        <th scope="col" class="align-middle text-center">상담회차</th>
                                        <!-- <th scope="col" class="align-middle text-center">이전신청번호</th> -->
                                        <th scope="col" class="align-middle text-center">신청상태</th>
                                        <th scope="col" class="align-middle text-center">승인여부</th>
                                        <th scope="col" class="align-middle text-center">상세정보</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                
                                    <tr th:each="apply : ${applyList}">
                                    	<th scope="row" class="align-middle">
                                    		<label class="customcheckbox">
                                                <input type="checkbox" class="listCheckbox" />
                                                <span class="checkmark"></span>
                                            </label>
                                    	</th>
                                        <th scope="row" th:text="${apply.aply_no}" class="aply_no align-middle text-center"></th>
                                        <td class="stud_no align-middle text-center">[[|${apply.cns_nm}(${apply.cns_field})|]]</td>
                                        <td class="stud_no align-middle text-center">[[|${apply.stud_nm}(${apply.stud_no})|]]</td>
                                        <td th:text="${apply.dscsn_ymd}" class="dscsn_ymd align-middle text-center"></td>
                                        <td th:text="${apply.dscsn_hr}" class="dscsn_hr align-middle text-center"></td>
                                        <td th:text="${apply.dscsn_hr}" class="dscsn_hr align-middle text-center"></td>
                                        <!-- <td class="stud_no align-middle text-center">
                                        	<span th:if="${apply.aply_no_old == 0}">-</span>
                                        	<span th:unless="${apply.aply_no_old == 0}">[[${apply.aply_no_old}]]</span>
                                        </td> -->
                                        <td class="dscsn_stat align-middle text-center">
                                        	<div class="dropdown">
											  <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
											    Dropdown button
											  </button>
											  <ul class="dropdown-menu">
											    <li><a class="dropdown-item" href="#">Action</a></li>
											    <li><a class="dropdown-item" href="#">Another action</a></li>
											    <li><a class="dropdown-item" href="#">Something else here</a></li>
											  </ul>
											</div>
                                        </td>
                                        <td class="app-confirm align-middle text-center">
                                        	<h5 th:if="${apply.dscsn_stat == '완료'}" class="badge" style="background-color:#cdb4db">완료</h5>
                                        	<h5 th:if="${apply.dscsn_stat == '미진행'}" class="badge" style="background-color:#a2d2ff">미진행</h5>
                                        	<h5 th:if="${apply.dscsn_stat == '취소'}" class="badge" style="background-color:#ffafcc">취소</h5>
                                        	<button th:if="${apply.dscsn_stat == '신청'}" 
                                        		th:id="|confirmBtn${apply.aply_no}|" 
                                        		class="confirmBtn btn btn-success text-white align-middle">승인</button>
                                        	<button th:if="${apply.dscsn_stat == '예약'}" 
                                        		th:id="|confirmBtn${apply.aply_no}|" 
                                        		class="confirmBtn btn btn-danger text-white align-middle">취소</button>
                                     	</td>
                                     	<td class="dscsn_cn align-middle text-center">
                                     		<button th:if="${not #strings.isEmpty(apply.dscsn_cn)}" 
                                     			th:onclick="|detail('${apply.aply_no}')|" 
                                        		th:id="|detailBtn${apply.aply_no}|" 
                                        		class="detailBtn btn btn-outline-primary align-middle">상세 보기</button>
                                     		<button th:unless="${not #strings.isEmpty(apply.dscsn_cn)}" 
                                     			th:onclick="|location.href='./comment@${apply.aply_no}'|"
                                        		th:id="|commentBtn${apply.aply_no}|" 
                                        		class="commentBtn btn btn-warning text-white align-middle">코멘트 작성</button>
                                     	</td>
                                    </tr>
                                </tbody>
                            </table>
                            <nav aria-label="Page navigation example">
							  <ul class="pagination justify-content-center">
							    <li class="page-item disabled">
							      <a class="page-link">Previous</a>
							    </li>
							    <li class="page-item"><a class="page-link" href="#">1</a></li>
							    <li class="page-item"><a class="page-link" href="#">2</a></li>
							    <li class="page-item"><a class="page-link" href="#">3</a></li>
							    <li class="page-item">
							      <a class="page-link" href="#">Next</a>
							    </li>
							  </ul>
							</nav>
                            </th:block>
                        </div> <!-- 신청목록 끝 -->
                        
                        <!-- 톺아보기 모달 -->
				        <div class="modal" id="detail">
				        	<div class="modal-dialog modal-xl">
				        		<div class="modal-content">
				        			<div class="modal-header">
				        			<h5 class="modal-title" id="modalTitle">상담 상세</h5>
				        				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				        			</div>
				        			<div class="modal-body">
				        				<div class="mt-2" id="modalContent">
					        				제목<br>
					        				본문내용
				        				</div>
				        			</div>
				        			<div class="modal-footer">
				        				<a id="updateLinkBtn" class="btn btn-light">코멘트 수정</a>
				        			</div>
				        		</div>
				        	</div>
				        </div>
                        
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <th:block th:insert="~{./admin/thfragments/fragments.html :: footer}"></th:block>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <th:block th:insert="~{./admin/thfragments/fragments.html :: jqueryScript}"></th:block>
    <!-- this page js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
    <script src="/admin/assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
    <script src="/admin/assets/extra-libs/multicheck/jquery.multicheck.js"></script>
    <script src="/admin/assets/extra-libs/DataTables/datatables.min.js"></script>
    <!-- <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script> -->
    <script type="text/javascript" src="/admin/custom/utils.js"></script>
    <!-- <script type="text/javascript" src="/admin/custom/grid-app.js"></script> -->
    <script type="text/javascript" src="/admin/custom/appointments-app.js"></script>
    <script>
        /****************************************
         *       Basic Table                   *
         ****************************************/
        $('#zero_config').DataTable();
        
        // 날짜 포맷... 으휴
        let dates = document.querySelectorAll(".dscsn_ymd");
        dates.forEach(e => {
        		e.innerText = moment(e.innerText).format("YYYY-MM-DD");
        	});

        function detail(no) {
        	let detailEle = document.querySelector('#detail');
        	let detailModal = new bootstrap.Modal(detailEle, {}); // {옵션}
        	fetch('./appointment-detail?aply_no=' + no, {
        		method: "GET", 
        		headers: {"Content-Type": "application/json",}, 
        	}).then(response => {
        		if(!response.ok) {
        			throw new Error(response.statusText);
        		} else {
        			return response.json();
        		}
        	}).then(data => {
        		console.log(data.dscsn_cn);
        		document.querySelector('#modalContent').innerHTML = data.dscsn_cn;
        		document.querySelector('#updateLinkBtn').setAttribute("href", './update-comment@' + data.aply_no);
        		detailModal.show();
        	}).catch(error => {
        		console.log(error);
        	})
        }
    </script>

</body>

</html>