<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="~{./admin/thfragments/fragments.html :: headTag}"></th:block>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/admin/assets/extra-libs/multicheck/multicheck.css">
    <link href="/admin/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <th:block th:insert="~{./admin/thfragments/fragments.html :: preloader}"></th:block>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <th:block th:insert="~{./admin/thfragments/fragments.html :: topbarHeader}"></th:block>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <th:block th:insert="~{./admin/thfragments/fragments.html :: leftSidebar}"></th:block>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">상담 상세</h4>
                        <div class="ms-auto text-end">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                    	<div class="card">
                    	<div class="card-header">
						    <h5 class="card-title">[[${aply_no}]]번 신청건</h5>
						    <div class="card-title">내담자: [[${detail.stud_nm}]]</div>
						  </div>
                            <div class="card-body">
                            <table class="table">
                            	<tbody>
                            		<tr>
                            			<td>
                            			내담자
                            			</td>
                            		</tr>
                            	</tbody>
                            </table>
                            	내담자: [[${detail.stud_nm}]] <br>
                            	상담 날짜: 
                            	<span th:text="${detail.dscsn_ymd}" class="dscsn_ymd"></span> <br>
                            	상담 시간: [[${detail.dscsn_hr}]] <br>
                            	상담 상태: [[${detail.dscsn_stat}]] <br>
                            	이전 상담: [[${detail.aply_no_old}]] <br>
                            	<span th:utext="${detail.dscsn_cn}"></span> <br>
                            	회차: [[${detail.dscsn_nmtm}]]
                            </div>
                    	</div>
                        
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <th:block th:insert="~{./admin/thfragments/fragments.html :: footer}"></th:block>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <th:block th:insert="~{./admin/thfragments/fragments.html :: jqueryScript}"></th:block>
    <!-- this page js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
    <script src="/admin/assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
    <script src="/admin/assets/extra-libs/multicheck/jquery.multicheck.js"></script>
    <script src="/admin/assets/extra-libs/DataTables/datatables.min.js"></script>
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
    <script type="text/javascript" src="/admin/custom/utils.js"></script>
    <script type="text/javascript" src="/admin/custom/grid-app.js"></script>
    <script type="text/javascript" src="/admin/custom/appointments-app.js"></script>
    <script>
        /****************************************
         *       Basic Table                   *
         ****************************************/
        $('#zero_config').DataTable();
        
        // 날짜 포맷... 으휴
        let dates = document.querySelectorAll(".dscsn_ymd");
        dates.forEach(e => {
        		e.innerText = moment(e.innerText).format("YYYY-MM-DD");
        	});
    </script>

</body>

</html>