<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
 <title>게시글 상세 페이지</title>
</head>
<body>
	<ul>
        <!-- 게시글을 클릭하면 goDetail 함수가 호출되도록 onclick 이벤트를 설정 -->
        <li onclick="goDetail(1)">게시글 1</li>
        <li onclick="goDetail(2)">게시글 2</li>
    </ul>

    <script>
        // 게시글 클릭 시 해당 게시글로 이동하는 함수
        function goDetail(bno) {
            // postId에 해당하는 게시글의 상세 페이지로 이동
            window.location.href = "/detail?bno=" + bno;
        }
    </script>
   
</body>
</html>
