<!doctype html>
<html lang="ko" data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{./fragments.html :: headTag}"></th:block>   
    <!-- Custom styles for this template -->
    <link href="/index/carousel/carousel.css" rel="canonical">
    
     <style>
       .svg-background1 {
            background-image: url('/img/아보1.png');
            background-size: cover; /* 이미지 크기 조절 */
            background-position: center; /* 이미지 위치 조절 */
            border-radius: 50%; /* 둥근 모서리 */
        }
       .svg-background2 {
            background-image: url('/img/아보2.png');
            background-size: cover; /* 이미지 크기 조절 */
            background-position: center; /* 이미지 위치 조절 */
            border-radius: 50%; /* 둥근 모서리 */
        }
       .svg-background3 {
            background-image: url('/img/아보4.png');
            background-size: cover; /* 이미지 크기 조절 */
            background-position: center; /* 이미지 위치 조절 */
            border-radius: 50%; /* 둥근 모서리 */
        }
    </style>
  </head>
  
  <body>

	<th:block th:insert="~{./fragments.html :: menu}"></th:block>
	
	<main>
	
	  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
	    <div class="carousel-indicators">
	      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
	      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
	      <button type="button" data-bs-target="#myCaro usel" data-bs-slide-to="2" aria-label="Slide 3"></button>
	    </div>
	    <div class="carousel-inner">
	      <div class="carousel-item active">
	        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" style="background-image: url('/index/assets/img/slide2.jpg');"/>
	        <div class="container">
	          <div class="carousel-caption text-start">
	            <h1>세계로 나아가는 지식의 전당</h1>
	            <p class="opacity-75">초록하고 부드러운 아보카데미 상담센터</p>
	            <p><a class="btn btn-lg btn-light" href="/login">로그인하기</a></p>
	          </div>
	        </div>
	      </div>
	      <div class="carousel-item">
	        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" style="background-image: url('/index/assets/img/slide1.jpg');"/>
	        <div class="container">
	          <div class="carousel-caption">
	            <h1>글로벌 리더의 요람, avocademy</h1>
	            <p>아뵤카도 아니고 아보카도</p>
	            <p><a class="btn btn-lg btn-light" href="/location">찾아오는길</a></p>
	          </div>
	        </div>
	      </div>
	      <div class="carousel-item">
	        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" style="background-image: url('/index/assets/img/slide3.jpg');"/>
	        <div class="container">
	          <div class="carousel-caption text-end">
	            <h1>창의적 사고와 도전 정신을 키웁니다</h1>
	            <p>몸에 좋은 상담을 제공합니다</p>
	            <p><a class="btn btn-lg btn-light" href="/centerInfo">상담 안내</a></p>
	          </div>
	        </div>
	      </div>
	    </div>
	    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
	      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	      <span class="visually-hidden">Previous</span>
	    </button>
	    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
	      <span class="carousel-control-next-icon" aria-hidden="true"></span>
	      <span class="visually-hidden">Next</span>
	    </button>
	  </div>

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

<hr>
		<div class="container marketing">
			<!-- Three columns of text below the carousel -->
			<div class="row">
				 <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle svg-background1" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="none"/>
        </svg>
					<h2 class="fw-normal">개인상담</h2>
					<p>대학생활 및 일상생활에서 발생하는 혼자 해결하기 어려운 주제를 상담 전문 선생님과 1:1 상담을 통해
						해소하기 위한 심층적인 상담서비스</p>
					<p>
						<a class="btn btn-secondary" href="/personal">개인상담 &raquo;</a>
					</p>
				</div>
				<!-- /.col-lg-4 -->
				<div class="col-lg-4">
				
				  <svg class="bd-placeholder-img rounded-circle svg-background2" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="none"/>
        </svg>
					<!-- <svg class="bd-placeholder-img rounded-circle" width="140"
						height="140" xmlns="http://www.w3.org/2000/svg" role="img"
						aria-label="Placeholder" preserveAspectRatio="xMidYMid slice"
						focusable="false">
						<title>Placeholder</title><rect width="100%" height="100%"
							fill="var(--bs-secondary-color)" /></svg> -->
					<h2 class="fw-normal">집단상담</h2>
					<p>비슷한 관심사를 가진 학생들과 전문상담자가 함께 모여 여러 활동과 대화를 통해서 문제해결을 돕고 자기 성장을
						도모하는 프로그램</p>
					<p>
						<a class="btn btn-secondary" href="/group">집단상담 &raquo;</a>
					</p>
				</div>
				<!-- /.col-lg-4 -->
				<div class="col-lg-4">
				
				  <svg class="bd-placeholder-img rounded-circle svg-background3" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="none"/>
        </svg>
					<!-- <svg class="bd-placeholder-img rounded-circle" width="140"
						height="140" xmlns="http://www.w3.org/2000/svg" role="img"
						aria-label="Placeholder" preserveAspectRatio="xMidYMid slice"
						focusable="false">
						<title>Placeholder</title><rect width="100%" height="100%"
							fill="var(--bs-secondary-color)" /></svg> -->
					<h2 class="fw-normal">지도교수상담</h2>
					<p>학생이 지도교수와 대학생활, 대인관계, 학업, 진로, 취업 등의 내용으로 상담을 실시</p>
					<p>
						<a class="btn btn-secondary" href="/professor">지도교수 상담 &raquo;</a>
					</p>
				</div>
				<!-- /.col-lg-4 -->
			</div>
			<!-- /.row -->


			<!-- START THE FEATURETTES -->

			<!-- <hr class="featurette-divider">

			<div class="row featurette">
				<div class="col-md-7">
					<h2 class="featurette-heading fw-normal lh-1">
						First featurette heading. <span class="text-body-secondary">It’ll
							blow your mind.</span>
					</h2>
					<p class="lead">학생상담센터에서는 대학생활에 대한 어려움, 대인관계에서의 문제, 진로와 적성에 관한
						고민, 성(性)에 관련된 불편감이나 양성 불평등 문제 등 삶의 모든 부분에서 겪는 고민들을 전문적 상담으 로 도움받으실
						수 있습니다</p>
				</div>
				<div class="col-md-5">
					<svg
						class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
						width="500" height="500" xmlns="http://www.w3.org/2000/svg"
						role="img" aria-label="Placeholder: 500x500"
						preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%"
							fill="var(--bs-secondary-bg)" />
            <text x="50%" y="50%" fill="var(--bs-secondary-color)"
							dy=".3em">500x500</text>
        </svg>
				</div>

				<svg
					class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
					width="500" height="500" xmlns="http://www.w3.org/2000/svg"
					role="img" aria-label="Placeholder: 500x500"
					preserveAspectRatio="xMidYMid slice" focusable="false">
					<title>Placeholder</title><rect width="100%" height="100%"
						fill="var(--bs-secondary-bg)" />
					<text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
			</div>
		</div>

		<hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-body-secondary">See for yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-body-secondary">Checkmate.</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    /END THE FEATURETTES

  </div>/.container
 -->

</main>
<hr>
<!-- FOOTER -->
<th:block th:insert="~{./fragments.html :: footer}"></th:block>
<script src="/index/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>
