<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title>Avocado 로그인</title>
<!-- 부트스트랩 CSS 추가 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<!-- 제이쿼리  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==
" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script type="text/javascript">
$(function(){
	//로그인 상태 확인
	checkLoginStatus();
	
	//로그인 버튼 클릭시 
	$('.check').click(function(){
		let id = $('#id').val();
		let pw = $('#pw').val();
		
			if(id == ''|| id.length< 4){
				alert('올바른 아이디를 입력하세요');
				return false;
			}
			
			if(pw == '' || pw.length < 4){
				alert('비밀번호가 틀렸습니다.')
				return false;
			}
			
			if($('#saveID').is(':checked')){
				//alert("아이디 저장을 눌렀습니다.");
				
				setCookie('setCookieYN', 'Y', 60);
				setCookie("userInputId", id, 60);
			} else { 
				delCookie('userInputId');
				delCookie('setCookieYN');
			}
			$('#loginForm').submit();
			
			loginSuccess();
	});
});


// 여기에 JavaScript 코드를 추가합니다.
function loginSuccess() {
    // 사용자가 로그인되어 있는지 확인
    checkLoginStatus();
    // 이후 필요한 작업을 수행
}

function checkLoginStatus() {
    let sessionID = getCookie('sessionID'); // 쿠키에서 세션 ID를 가져옴
    if (sessionID) {
        // 세션 ID가 존재하면 로그인된 상태
        alert('사용자는 로그인되어 있습니다.');
    } else {
        // 세션 ID가 존재하지 않으면 로그인되지 않은 상태
        alert('사용자는 로그인되어 있지 않습니다.');
    }
}

//쿠키 저장하는 함수(쿠키 이름, 값, 기한)
function setCookie(cookieName, value, exdays){
	let date = new Date();
	date.setDate(date.getDate()+exdays);
	let value2 = escape(value)+"; exires=" + date.toGMTString();
	document.cookie = cookieName + "=" + value;
}


//쿠키 가져오는 함수
function getCookie(cookeName){
	let x,y;
	let val = document.cookie.split(';');
	for(let i = 0; i < val.length; i++){
		x = val[i].substr(0,val[i].indexOf('='));
		y = val[i].substr(val[i].indexOf('=')+1);
		x = x.replace(/^\s+|\s+$/g,'');
		if(x == cookieName){
			return y;
		}
	}
}

$(function(){
	let sessionID = getCookie('sessionID');
	$('#id').val(userInputId);
});

//쿠키 삭제
function delCookie(cookieName){
	document.cookie = cookieName + "=; max-age=0";
}

//로그인 상태 확인 함수
function checkLoginStatus(){
	let sessionID = getCookie('sessionID');
	if(sessionUid){
		} else {
			
			logout();
	}
}

//로그아웃 처리 함수
function logout(){
	delCookie('sessionUid');
	}

//세션 만료 시간 설정
const sessionExpirationTime = 60*60*1000;
setInterval(checkSessionExpiration, sessionExpirationTime);

//세션 만료 여부 확인 함수
function checkSessionExpiration(){
	let lastLoginTime = localStorage.getItem('lastLoginTime');
	if(lastLoginTime){
		let currentTime = new Date().getTime();
		if(currentTime - lastLoginTime > sessionExpirationTime){
			logout();
		}
	}
}

//페이지 로딩 시간 기록 및 세션 만료까지 남은 시간 표시
$(document).ready(function(){
	let lastLoginTime = localStorage.getItem('lastLoginTime');
	if(lastLoginTime) {
		let currentTime = new Date().getTime();
		let timeDiff = sessionExpirationTime  -(currentTime - lastLoginTime);
		let minutes = Math.floor((timeDiff % (1000 * 60 *60)) / (1000 * 60));
		let seconds = Math.floor((timeDiff % (1000 * 60)) / 1000);
		$('#sessionTimeLeft').text(minutes + "분 " + seconds + "초 남음");
	}
	localStorage.setItem('lastLoginTime', new Date().getTime());
	
	//페이지 로드 후 매 초마다 업데이트
	setInterval(updateSessionTimeLeft, 1000);
});

</script>
</head>
<body>
<header data-bs-theme="dark">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">아보카데미</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/main">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#">센터소개</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#">상담안내</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#">교육프로그램</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#">커뮤니티</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#">상담신청</a></li>
                    <li class="nav-item" th:if="${session.uid == null}"><a class="nav-link active" href="/login">로그인</a></li>
                    <li class="nav-item" th:if="${session.uid != null}"><a class="nav-link active" href="/logout">로그아웃</a></li></ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>

 <section class="page-section" id="login" style="margin-top: 100px;">

      <div class="container">
         <div class="row">
            <div class="col-md-4 mx-auto">
               <form action="/login" method="post" id="loginForm">
                  <h2 class="text-center text-uppercase text-primary mb-4">LOGIN</h2>

                  <div class="form-group">
                  <!-- <label id="id"></label> -->
				 <input type="text" id="id" name="id" class="form-control" placeholder="아이디" autocomplete="username">
                  </div>
                  

                  <div class="form-group">
                    <input type="password" id="pw" name="pw" class="form-control" placeholder="비밀번호" autocomplete="current-password">

                  </div>
            
                  
                 <div class="mb-3 row">
                  	<div class="col-sm-12 text-start">
                  		<input type="checkbox" class="saveID" id="saveID">
                  		<label for="saveID">아이디 저장</label>
                  	</div>
                 </div> 
                 
                 <div class="mb-3 row">
                     <div class="col-sm-12">
                        <div class="form-group text-center">
                           <button type="reset" class="btn btn-danger mr-2">초기화</button>
                           <button type="submit" class="btn btn-primary check">로그인</button>
                        </div>                       
                     </div>
                 </div>	
               </form>
            </div>
         </div>
      </div>
   </section>

	 <!-- 자바스크립트 추가 -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</body>
</html>