<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="~{./admin/thfragments/fragments.html :: headTag}"></th:block>
    <!-- Custom CSS -->
    <link href="/admin/assets/libs/flot/css/float-chart.css" rel="stylesheet">
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
	<link rel="stylesheet" type="text/css" href="/admin/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.css"/>
	<link rel="stylesheet" href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css" />
	<link rel="stylesheet" href="/admin/custom/calendar-custom.css" />
	<style type="text/css">
		html * {
		  box-sizing:border-box;
		}
		.unselectable, .unselectable * {
		  -webkit-user-select: none;
		  -moz-user-select: none;
		  -ms-user-select: none;
		  -o-user-select: none;
		  user-select: none; }
		
		.wrap {
		  max-width:500px;
		  margin: 0 auto;
		  text-align:center;
		}
		.wrap h2 {
		  font-size:16px;
		  margin:20px 0;
		}
		.wrap + .wrap {
		  margin-top:60px;
		}
		.wrap  * {
		  -moz-user-select: none;
		  -webkit-user-select: none;
		  -ms-user-select: none;
		  user-select: none;
		}
		.hidden {
		  display:none;
		}
		.checkbox {
		  display:inline-block;
		  width:200px;
		  height:40px;
		  border:1px solid rgba(0,0,0,0.08);
		  background:#eee;
		  text-align:center;
		  line-height:38px;
		  color:#666;
		  -webkit-transition:background .15s ease;
		  transition:background .15s ease;
		}
		.item + .item {
		  margin-top:5px;
		}
		input:checked + .checkbox {
		/*   background:#21bad9; */
		  background:#d4b8e5;
		  color:#fff;
		}
		.toastui-calendar-day-name-item.toastui-calendar-week span:hover {
			cursor: pointer;
		}
		#datepicker-autoclose:hover {
			cursor: pointer;
		}
		
		.toggleBtn {
		  display:inline-block;
		  border:1px solid rgba(0,0,0,0.08);
		  background:#eee;
		  text-align:center;
		  line-height:38px;
		  color:#666;
		  -webkit-transition:background .15s ease;
		  transition:background .15s ease;
		}
		input:checked + .toggleBtn {
			background:#2255a4;
			color:#fff;
		}
	</style>
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <th:block th:insert="~{./admin/thfragments/fragments.html :: preloader}"></th:block>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <th:block th:insert="~{./admin/thfragments/fragments.html :: topbarHeader}"></th:block>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <th:block th:insert="~{./admin/thfragments/fragments.html :: leftSidebar}"></th:block>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">집단상담 프로그램 관리 페이지</h4>
                        <div class="ms-auto text-end">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Sales Cards  -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                    <a href="./registProgram">
                        <div class="card card-hover">
                            <div class="box bg-cyan text-center">
                                <h1 class="font-light text-white"><i class="mdi mdi-pencil"></i></h1>
                                <h6 class="text-white">새 프로그램 등록</h6>
                            </div>
                        </div>
                    </a>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                     <a href="programList">
                        <div class="card card-hover">
                            <div class="box bg-success text-center">
                                <h1 class="font-light text-white"><i class="mdi mdi-table"></i></h1>
                                <h6 class="text-white">등록된 프로그램 확인</h6>
                            </div>
                        </div>
                     </a>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-2 col-xlg-3">
                        <div class="card card-hover">
                            <div class="box bg-warning text-center">
                                <h1 class="font-light text-white"><i class="mdi mdi-calendar-check"></i></h1>
                                <h6 class="text-white">프로그램 일정보기</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-2 col-xlg-3">
                        <div class="card card-hover">
                            <div class="box bg-danger text-center">
                                <h1 class="font-light text-white"><i class="fa fa-user"></i></h1>
                                <h6 class="text-white">참여자 정보</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-2 col-xlg-3">
                        <div class="card card-hover">
                            <div class="box bg-info text-center">
                                <h1 class="font-light text-white"><i class="fa fa-user"></i></h1>
                                <h6 class="text-white">만족도 평가</h6>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- ============================================================== -->
                <!-- Sales chart -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-md-flex align-items-center">
                                    <div>
                                        <h4 class="card-title">집단상담 프로그램 일정표</h4>
                                        <h5 class="card-subtitle" id="thisMonth"></h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- column -->
	                                    <div class="col-lg-12">
	                                        <div class="card-body b-l calender-sidebar mt-2">
	              <!-- =================================일정 삭제 버튼==================================== -->
	                                       <!--  <div class="m-3">
		                                        <input type="checkbox" id="deleteSchBtn" class="hidden">
		                                        <label for="deleteSchBtn" class="btn mt-0 btn-info d-block waves-effect waves-light align-middle toggleBtn"><i class="ti-trash"></i> 일정 삭제하기</label>
	                                        </div> -->
	              <!-- =================================캘린더 메뉴==================================== -->
	                                        	<div id="calendarMenu" class="d-flex justify-content-between align-items-center">
	                                        	<span>
	                                        		<button type="button" id="monthViewBtn" class="calendar-btn calendar-move-today">Month</button>
	                                        		<button type="button" id="twoWeeksViewBtn" class="calendar-btn calendar-move-today">2Weeks</button>
	                                        		<button type="button" id="weekViewBtn" class="calendar-btn calendar-move-today">Week</button>
	                                        	</span>
	                                        	<span class="calendar-render-range"></span>
	                                        	<span>
	                                        		<button type="button" id="todayBtn" class="calendar-btn calendar-move-today">Today</button>
	                                        		<button type="button" id="prevBtn" class="calendar-btn calendar-move-day">
	                                        			<i class="calendar-icon ic-arrow-line-left"></i>
	                                        		</button>
	                                        		<button type="button" id="nextBtn" class="calendar-btn calendar-move-day">
	                                        			<i class="calendar-icon ic-arrow-line-right"></i>
	                                        		</button>
	                                        	</span>
	                                        	</div>
	             <!-- =================================캘린더 위치==================================== -->
	                                            <div id="calendar" class="calendar-wrapper"></div>
	                                        </div>
	                                    </div>
                                    <!-- column -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <th:block th:insert="~{./admin/thfragments/fragments.html :: footer}"></th:block>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <th:block th:insert="~{./admin/thfragments/fragments.html :: jqueryScript}"></th:block>
	<!--This page JavaScript -->
    <!-- <script src="/admin/dist/js/pages/dashboards/dashboard1.js"></script> -->
    <!-- Charts js Files -->
    <script src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.1.8/chance.min.js"></script>
    <script src="/admin/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.js"></script>
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
    <script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.js"></script>
    <script type="text/javascript" src="/admin/custom/gr-utils.js"></script>
    <!-- <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script> -->
    <script type="text/javascript" src="/admin/custom/group-calendar-data.js"></script>
    <script type="text/javascript" src="/admin/custom/group-calendar-app.js"></script>
    <script type="text/javascript" src="/admin/custom/gr-app.js"></script>
    <script type="text/javascript">
    const now = new Date();
    const year = now.getFullYear();
    const month = now.getMonth() + 1;
    $('#thisMonth').text(year + "년 " + month + "월");
    
    /*datwpicker*/
    jQuery('#datepicker-autoclose').datepicker({
    	format: 'yyyy-mm-dd',
    	startDate: '-d',
    	calendarWeeks: true,
        autoclose: true,
        todayHighlight: true,
        daysOfWeekDisabled: "0,6"
    });
    
    $.fn.dragCheckbox = function () {
        var source = this;
        var ConditionA = false;
        var ConditionB = false;
        source.parent().css({
          '-webkit-user-select': 'none',
          '-moz-user-select': 'none',
          '-ms-user-select': 'none',
          '-o-user-select': 'none',
          'user-select': 'none'
        });
        source.mousedown(function(){
            ConditionA = true;
            ConditionB = true;
        });
        $(document).mouseup(function(){
            ConditionA = false;
            ConditionB = false;
        })
        source.mouseenter(function(){
            if(ConditionA != false) {
                $(this).trigger('click');
            }
        });
        source.mouseout(function(){
            if(ConditionA != false && ConditionB != false) {
                $(this).trigger('click');
                ConditionB = false;
            }
        });
    }
      $('.checkbox').dragCheckbox();
      $('.item').dragCheckbox();
    </script>
</body>

</html>