<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="~{./admin/thfragments/fragments.html :: headTag}"></th:block>
    <!-- Custom CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link href="/admin/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
	<link rel="stylesheet" href="/admin/custom/calendar-custom.css" />
	<style type="text/css">
	#entryModal {
	  width: 100%;
	  height: 100%;
	  position: fixed;
	  top: 0;
	  left: 0;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  background: rgba(0, 0, 0, 0.5);
	}
	#entryModal.hidden {
	  display: none;
	}	
	 
	</style>
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <th:block th:insert="~{./admin/thfragments/fragments.html :: preloader}"></th:block>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <th:block th:insert="~{./admin/thfragments/fragments.html :: topbarHeader}"></th:block>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <th:block th:insert="~{./admin/thfragments/fragments.html :: leftSidebar}"></th:block>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">집단상담 프로그램 관리 페이지</h4>
                        <div class="ms-auto text-end">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Sales Cards  -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Sales chart -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-md-flex align-items-center">
                                    <div>
                                        <h4 class="card-title">집단상담 참여인원 정보</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- column -->
	                                    <div class="col-12">
											<div class="table-responsive">
												<table id="entryTable" class="table">
													<thead>
														<tr>
															<th>번호</th>
															<th class="bootstrap-table-select2-filter">상담유형</th>
															<th>프로그램 명</th>
															<th>인원</th>
															<th>신청</th>
															<th>비고</th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="p : ${programEntry}">
															<td th:text="${p.prg_no}"></td>
															<td th:text="${p.prg_cate}"></td>
															<td th:text="${p.prg_nm}"></td>
															<td>[[${p.prg_entry}]]/[[${p.prg_nope}]]</td>
															<td><button type="button" id="entry"
															th:attr="onclick=|getEntry('${p.prg_no}')|">보기</button></td>
															<td th:switch="${p.req_open}">
	                                    						<span th:case="1" class="text-danger">신청중</span>
	                                    						<span th:case="2" class="text-success">마감</span>
	                                    						<span th:case="3" class="text-primary">종료</span>
                                    						</td>
														</tr>
													</tbody>
												</table>
											</div>
	                                    </div>
                                    <!-- column -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal hidden" id="entryModal">
				  <div class="modal-dialog">
				    <div class="modal-content" style="width: 600px;">
				      <div class="modal-header">
				        <h5 class="modal-title fs-5" id="modalTitle">상세보기</h5>
				      </div>
				      <div class="modal-body">
				      	<div class="my-2" id="modalContent">
					       <table class="table" id="entryList">
					       	<thead>
					       		<tr>
					       			<th>학번</th>
					       			<th>학과</th>
					       			<th>이름</th>
					       			<th>이메일</th>
					       		</tr>
					       	</thead>
					       	<tbody>
					       		<tr>
					       		</tr>
					       	</tbody>
					       </table>
				      	</div>
				      </div>
				      <div class="modal-footer">
					  	<!-- <button type="button" class="btn btn-primary" id="mailButton">공지메일 전송</button> -->
					    <button type="button" class="btn btn-secondary" id="closeModal">닫기</button>
				      </div>
				    </div>
				  </div>
				</div>
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <th:block th:insert="~{./admin/thfragments/fragments.html :: footer}"></th:block>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <th:block th:insert="~{./admin/thfragments/fragments.html :: jqueryScript}"></th:block>
	<!--This page JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.1.8/chance.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="/admin/assets/extra-libs/DataTables/datatables.min.js"></script>
    <script type="text/javascript">
    $(function() {
        var table = $('#entryTable').dataTable({
        	order:[0, 'desc'],
        	ordering: false,
        });
     
    });
    
	const entryModal = document.getElementById("entryModal");
	const closeModal = document.getElementById("closeModal");
	const mailButton = document.getElementById("mailButton");
    
    
	function getEntry(no){
		$.ajax({
			url: "./programEntry",
   			type: "POST",
   			data: {"no" : no},
   			dataType: "json",
   			success: function(data){
				console.log(data);
				$('#entryList tbody').empty();
				data.forEach(function (item) {
                    var row = `<tr>
                        <td>${item.stud_no}</td>
                        <td>${item.major}</td>
                        <td>${item.stud_nm}</td>
                        <td>${item.uemail}</td>
                    </tr>`;
                    $('#entryList tbody').append(row);
                });  				
   				entryModal.classList.remove('hidden');
   				
   			},
   			error: function(error){
   				console.log(error);
   			}
   		});

		
	}
    
	closeModal.addEventListener('click', () => {
		entryModal.classList.add('hidden');
	})
	
    $(document).on("click", "", function(){
    	
    });
    

    </script>
</body>

</html>