<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.avocado.web.repository.CounselDAO">
	
	<select id="findAllSchedule" resultType="Map">
		SELECT s.sch_no, c.cns_no, c.cns_nm, c.ofc_no, 
			(SELECT stud_nm FROM student st WHERE st.stud_no = a.stud_no) AS stud_nm, 
			aply_no, GET_CD_NM('CS', dscsn_stat) AS sch_state, 
			LEFT(GET_CD_NM('CO0020', cns_field), 2) AS cns_field, sch_ymd, sch_hr 
		FROM cschedule s JOIN counselor c ON s.cns_no = c.cns_no
			LEFT JOIN caply a ON s.sch_no = a.sch_no 
	</select>
	
	<select id="findEachSchedule" resultType="Map" parameterType="String">
		SELECT s.sch_no, c.cns_no, c.cns_nm, c.ofc_no, 
			(SELECT stud_nm FROM student st WHERE st.stud_no = a.stud_no) AS stud_nm, 
			aply_no, GET_CD_NM('CS', dscsn_stat) AS sch_state, 
			LEFT(GET_CD_NM('CO0020', cns_field), 2) AS cns_field, sch_ymd, sch_hr 
		FROM cschedule s JOIN counselor c ON s.cns_no = c.cns_no
			LEFT JOIN caply a ON s.sch_no = a.sch_no 
		WHERE c.cns_no = #{cns_no}
	</select>
	
	<select id="findAllCounselors" resultType="Map">
		SELECT uno, cns_no, cns_nm, LEFT(GET_CD_NM('CO0020', cns_field), 2) AS cns_field, ofc_no, uemail 
		FROM counselor JOIN user ON uno = user_no 
		WHERE left(cns_field, 2) = 'P1' 
		ORDER BY cns_field, cns_no
	</select>
	
	<select id="findCsInfo" parameterType="int" resultType="Map">
		SELECT cns_no, cns_nm, LEFT(GET_CD_NM('CO0020', cns_field), 2) AS cns_field, ofc_no, uemail 
		FROM counselor JOIN user ON uno = user_no 
		WHERE uno=#{user_no} AND left(cns_field, 2) = 'P1'
	</select>
	
	<select id="findAllTimes" resultType="Map">
		SELECT code, ccnm FROM commoncode
		WHERE `div` = 'CO0010'
	</select>
	
	<insert id="addSchedule" parameterType="PersonalDTO">
		INSERT INTO cschedule (cns_no, sch_ymd, sch_hr)
		VALUES (#{cns_no}, #{sch_ymd}, #{sch_hr})
	</insert>
	
	<select id="findSchedule" parameterType="PersonalDTO" resultType="int">
		SELECT COUNT(0) 
		FROM cschedule 
		WHERE cns_no=#{cns_no} AND sch_ymd=#{sch_ymd} AND sch_hr=#{sch_hr}
	</select>
	
	<delete id="deleteSchedule" parameterType="PersonalDTO">
		DELETE FROM cschedule 
		WHERE sch_no=#{sch_no} AND 
		(SELECT COUNT(0) FROM caply WHERE sch_no=#{sch_no}) = 0
	</delete>
	
	<insert id="applySchedule" parameterType="PersonalDTO">
		INSERT INTO caply (stud_no, sch_no, dscsn_ymd, dscsn_hr) 
		VALUES (#{stud_no}, #{sch_no}, 
			(SELECT sch_ymd FROM cschedule WHERE sch_no=#{sch_no}), 
			(SELECT sch_hr FROM cschedule WHERE sch_no=#{sch_no})
		)
	</insert>
	
	<select id="findCslAppointments" parameterType="int" resultType="PersonalDTO">
		SELECT aply_no, stud_no, dscsn_ymd, dscsn_hr, GET_CD_NM('CS', a.dscsn_stat) AS dscsn_stat, aply_no_old, dscsn_cn, dscsn_nmtm, a.sch_no 
		FROM caply a JOIN cschedule s ON a.sch_no = s.sch_no  
		WHERE s.cns_no=#{cns_no}
	</select>
	
	<delete id="deleteExpiredSchedule" parameterType="int">
	<![CDATA[
		DELETE FROM cschedule 
		WHERE sch_no IN (
			SELECT s.sch_no 
			FROM cschedule s 
			LEFT JOIN caply a ON s.sch_no = a.sch_no 
			WHERE a.aply_no IS NULL
				AND ((STR_TO_DATE(sch_ymd, '%Y%m%d') = CURDATE() AND sch_hr <= #{hourNow}) 
				OR (STR_TO_DATE(sch_ymd, '%Y%m%d') < CURDATE()))
		) 
	]]>
	</delete>
	
	<update id="changeExpiredSchedule" parameterType="int">
	<![CDATA[
		UPDATE caply SET dscsn_stat = 'CS005' 
		WHERE dscsn_stat = 'CS001' AND 
		((STR_TO_DATE(dscsn_ymd, '%Y%m%d') = CURDATE() AND dscsn_hr <= #{hour}) 
			OR (STR_TO_DATE(dscsn_ymd, '%Y%m%d') < CURDATE()))
	]]>
	</update>
	
	<update id="changeExpiredAppointment" parameterType="int">
	<![CDATA[
		UPDATE caply SET dscsn_stat = 'CS004' 
		WHERE dscsn_stat = 'CS002' AND 
		((STR_TO_DATE(dscsn_ymd, '%Y%m%d') = CURDATE() AND dscsn_hr < #{hour}) 
			OR (STR_TO_DATE(dscsn_ymd, '%Y%m%d') < CURDATE()))
	]]>
	</update>
	
	<select id="findAllScheduleList" parameterType="CslSearchDTO" resultType="PersonalDTO">
		SELECT aply_no, GET_CNS_NM(cns_no) AS cns_nm, cns_no, 
			GET_STUD_NM(stud_no) AS stud_nm, stud_no, 
			dscsn_ymd, dscsn_hr, dscsn_stat, sch_no 
		FROM csche_ply 
		WHERE aply_no IS NOT NULL
	</select>
	
	<select id="findCslScheduleList" parameterType="CslSearchDTO" resultType="PersonalDTO">
		SELECT aply_no, aply_no_old, 
			GET_CNS_NM(cns_no) AS cns_nm, GET_CNS_FIELD_NM(cns_no) AS cns_field, cns_no, 
			GET_STUD_NM(stud_no) AS stud_nm, stud_no, 
			dscsn_ymd, dscsn_hr, dscsn_stat, dscsn_cn, sch_no 
		FROM csche_ply 
		<where>
			aply_no IS NOT NULL 
			<if test="cns_no != null">
				AND cns_no = #{cns_no} 
			</if>
			<if test="stud_no != null">
				AND stud_no = #{stud_no} 
			</if>
		</where>
		ORDER BY STR_TO_DATE(dscsn_ymd, '%Y%m%d') DESC, STR_TO_DATE(dscsn_hr, '%H') DESC
		LIMIT #{page}, 10
	</select>
	
	<select id="findCsAppTotalCount" parameterType="CslSearchDTO" resultType="int">
		SELECT COUNT(0) FROM csche_ply 
		<where>
			aply_no IS NOT NULL 
			<if test="cns_no != null">
				AND cns_no = #{cns_no}
			</if>
			<if test="stud_no != null">
				AND stud_no = #{stud_no}
			</if>
		</where>
	</select>
	
	<select id="findCslSchedule" parameterType="int" resultType="PersonalDTO">
		SELECT GET_STUD_NM(stud_no) AS stud_nm, dscsn_ymd, dscsn_hr, 
			GET_CD_NM('CS', dscsn_stat) AS dscsn_stat, 
			aply_no_old, dscsn_cn, dscsn_nmtm, aply_no 
		FROM caply 
		WHERE aply_no=#{aply_no}
	</select>
	
	<update id="updateComment" parameterType="PersonalDTO">
		UPDATE caply SET dscsn_cn = #{dscsn_cn}, dscsn_stat='CS003' 
		WHERE aply_no=#{aply_no}
	</update>
	
	<update id="confirmApply" parameterType="PersonalDTO">
		UPDATE caply SET dscsn_stat='CS002' 
		WHERE aply_no=#{aply_no}
	</update>
	
	<update id="cancelReservation" parameterType="PersonalDTO">
		UPDATE caply SET dscsn_stat='CS005' 
		WHERE aply_no=#{aply_no}
	</update>
</mapper>