<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.avocado.web.repository.CounselDAO">
	
	<select id="findAllSchedule" resultType="Map">
		SELECT s.sch_no, c.cns_no, c.cns_nm, c.ofc_no, 
			LEFT(GET_CD_NM('CO0020', cns_field), 2) AS cns_field, sch_ymd, sch_hr, 
			(SELECT COUNT(0) FROM caply a WHERE a.sch_no = s.sch_no) AS sch_state 
		FROM cschedule s JOIN counselor c ON s.cns_no = c.cns_no
	</select>
	
	<select id="findEachSchedule" resultType="Map" parameterType="String">
		SELECT s.sch_no, c.cns_no, c.cns_nm, c.ofc_no, 
			LEFT(GET_CD_NM('CO0020', cns_field), 2) AS cns_field, sch_ymd, sch_hr, 
			(SELECT COUNT(0) FROM caply a WHERE a.sch_no = s.sch_no) AS sch_state 
		FROM cschedule s JOIN counselor c ON s.cns_no = c.cns_no
		WHERE c.cns_no = #{cns_no}
	</select>
	
	<select id="findAllCounselors" resultType="Map">
		SELECT uno, cns_no, cns_nm, LEFT(GET_CD_NM('CO0020', cns_field), 2) AS cns_field, ofc_no, uemail 
		FROM counselor JOIN user ON uno = user_no 
		WHERE left(cns_field, 2) = 'P1' 
		ORDER BY cns_field, cns_no
	</select>
</mapper>