<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.avocado.web.repository.GroupDAO">
	
	<select id="programList" resultType="GroupDTO">
		SELECT prg_no, prg_nm, cns_no, prg_nope, prg_cd, prg_ymd, prg_hr, prg_place 
		FROM grprograms 
		WHERE req_end > DATE_FORMAT(NOW(),'%Y%m%d')
	</select>
	
	<insert id="registProgram" parameterType="GroupDTO">
		INSERT INTO grprograms (prg_nm, cns_no, prg_cd, prg_nope, prg_content, prg_schdl, req_end, prg_dow, prg_nmtm)
		VALUES (#{prg_nm}, #{cns_no}, #{prg_cd}, #{prg_nope}, #{prg_content}, #{prg_schdl}, #{req_end}, #{prg_dow}, #{prg_nmtm})
	</insert>
	
	<select id="adminPRGList" resultType="GroupDTO">
		SELECT * 
		FROM grprograms
	</select>
	
	<update id="approvePRG" parameterType="int">
		UPDATE grprograms 
		SET prg_aprv = 1 
		WHERE prg_no = #{prg_no} 
	</update>


	<update id="disApprovePRG" parameterType="int">
		UPDATE grprograms 
		SET prg_aprv = 0 
		WHERE prg_no = #{prg_no} 
	</update>
	
	<insert id="createSchedule" parameterType="GroupDTO">
		INSERT INTO grschedule (prg_no)
		VALUES (#{prg_no})
	</insert>
	
</mapper>