<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.avocado.web.repository.GroupDAO">
	
	<select id="programList" resultType="GroupDTO">
		SELECT prg_no, prg_nm, prg_content, cns_no, prg_nope, prg_cd, prg_schdl, prg_nmtm, prg_dow
		FROM grprograms 
		WHERE prg_aprv = 1
	</select>
	
	<insert id="registProgram" parameterType="GroupDTO">
		INSERT INTO grprograms (prg_nm, cns_no, prg_cd, prg_nope, prg_content, prg_start, prg_end, prg_hr, req_end, prg_dow, prg_nmtm)
		VALUES (#{prg_nm}, #{cns_no}, #{prg_cd}, #{prg_nope}, #{prg_content}, #{prg_start}, #{prg_end}, #{prg_hr}, #{req_end}, #{prg_dow}, #{prg_nmtm})
	</insert>
	
	<select id="adminPRGList" resultType="GroupDTO">
		SELECT * 
		FROM grprograms 
		ORDER BY prg_no DESC; 
	</select>
	
	<update id="approvePRG" parameterType="int">
		UPDATE grprograms 
		SET prg_aprv = 1 
		WHERE prg_no = #{prg_no} 
	</update>

	<update id="openPRG" parameterType="int">
		UPDATE grschedule 
		SET req_open = 1 
		WHERE prg_no = #{prg_no} 
	</update>

	<update id="disApprovePRG" parameterType="int">
		UPDATE grprograms 
		SET prg_aprv = 0 
		WHERE prg_no = #{prg_no} 
	</update>
	
	<insert id="createSchedule" parameterType="GroupDTO">
		INSERT INTO grschedule (prg_no, prg_ymd, prg_hr) 
		VALUES (#{prg_no}, #{prg_ymd}, #{prg_hr}) 
	</insert>
	
	<select id="getProgramNo" parameterType="String" resultType="int">
		SELECT prg_no 
		FROM grprograms 
		WHERE cns_no = #{cns_no} 
		ORDER BY prg_no DESC LIMIT 1 
	</select>
	
	<select id="programDetail" parameterType="String" resultType="GroupDTO">
		SELECT prg_no, cns_no, prg_nm, prg_content, prg_nmtm, prg_nope, prg_schdl, prg_dow, prg_place 
		FROM grprograms 
		WHERE prg_no = #{no} 
	</select>
	
	<select id="getSchedulNo" parameterType="String" resultType="Integer">
		SELECT grsch_no 
		FROM grschedule 
		WHERE prg_no = #{prg_no}
	</select>
	
	<insert id="apply" parameterType="Map">
		INSERT INTO graply (stud_no, grsch_no) 
		VALUES (#{stud_no}, #{schdno})
	</insert>
	
</mapper>