<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.avocado.web.repository.MailDAO">

	<select id = "getEmail" parameterType="String" resultType="String">
		SELECT uemail FROM user WHERE uid=#{id}
	</select>
	
	<update id="setKey" parameterType="UserDTO">
		UPDATE user SET ukey=#{ukey} WHERE uid=#{uid} AND uemail=#{uemail}
	</update>
	
	<select id="verifyCode" parameterType="UserDTO" resultType="UserDTO">
		SELECT ukey
		FROM user
		WHERE uid = #{uid}
		LIMIT 1
	</select>

	<update id="resetPassword" parameterType="map">
		UPDATE user
		SET upw = #{newPassword} =AES_DECRYPT(UNHEX(upw),#{encryptKey}
		WHERE uid = #{uid}
	</update>
	

</mapper>