<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.avocado.web.repository.MyinfoDAO">

	<select id="myinfo" resultType="MyinfoDTO" parameterType="Map">
		SELECT bno, btitle,bcontent, bdate, secret, commentYN, comment, bdel, uname
		FROM onlineview 
		WHERE uno = #{uno} and bdel = '1' 
		ORDER BY bno DESC 
		LIMIT #{pageNo}, #{post};  
	</select>
	 
	 <select id="getMyinfo" parameterType="String" resultType="MyinfoDTO">
      SELECT o.uid, o.btitle, o.bcontent, o.bdate, o.commentYN,o.bdel
		FROM onlineview o 
		join user u on o.uid = u.uid
		WHERE o.uid = (select uid from user where uid = {#uid})
		ORDER BY o.bdate DESC;
    </select>
    
    
    <select id="count" parameterType="Integer" resultType="Integer">
		select count(*) from online
		where user_no = #{uno} and bdel = "1" ;
	</select>
	
    <select id="reservationList"  parameterType="String" resultType="GroupDTO">
		SELECT
		    gs.PRG_NO as prg_no,
		    gs.PRG_NM as prg_nm,
		    gs.PRG_YMD as prg_ymd,
		    gs.PRG_HR as prg_hr,
		    gs.PRG_PLACE as prg_place
		FROM groupSchedule_view gs
		JOIN graply gr ON gr.grsch_no = gs.GRSCH_NO
		WHERE gr.stud_no = #{stud_no}
		GROUP BY gs.PRG_NO, gs.PRG_NM, gs.PRG_YMD, gs.PRG_HR, gs.PRG_PLACE
		ORDER BY gs.PRG_NO;
   </select> 
   
   

</mapper>