<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.avocado.web.repository.OnlineDAO">
	
	<select id="online" resultType="OnlineDTO" parameterType="Map">
		SELECT bno, btitle, bcontent, bdate, secret, commentYN, comment, bdel, user.uname
		FROM online join user 
		on online.user_no = user.uno 
		WHERE bdel = "1" 
		ORDER BY bno DESC LIMIT #{pageNo}, #{post}; 
	</select>
	
	<select id="detail" parameterType="Integer" resultType="OnlineDTO"> 
		SELECT * 
		FROM onlineview 
		WHERE bno = #{bno}; 
	</select>
	
	<insert id="write" parameterType="Map"> 
		INSERT INTO online
		(btitle, bcontent, user_no) 
		VALUES (#{btitle}, #{bcontent}, #{uno});
	</insert>
	
	<select id="count">
		select count(1) from online
		where bdel = '1';
	</select>
	
	<update id="deletecd" parameterType="String">
 		update online 
 		set bdel = '0'
  		where bno = #{bno}
	</update>
	


</mapper>