<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.avocado.web.repository.ProfessorDAO">

	<select id="studentInfo" resultType="ProfessorDTO">
		SELECT stud_no, user_no, stud_nm, scsbjt_cd, ps_no, stud_telno FROM student WHERE stud_nm = "나우석";
	</select>
	
	<insert id="savePs" parameterType="Map">
		INSERT INTO pscounsel (stud_no, ps_class, ps_cn, psc_no, ps_hr) VALUES (#{studentNumber}, #{value}, #{content}, 1, '09');
	</insert>
</mapper>