<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.avocado.web.repository.ProfessorDAO">

	<select id="studentInfo" resultType="ProfessorDTO">
		SELECT stud_no, user_no, stud_nm, scsbjt_cd, ps_no, stud_telno FROM student WHERE stud_nm = "나우석";
	</select>
	
	<insert id="savePs" parameterType="Map">
		INSERT INTO pscounsel (stud_no, ps_class, ps_cn, psc_no, ps_hr, ps_ymd) VALUES (#{studentNumber}, #{value}, #{content}, 1, #{time}, #{date});
	</insert>
	
	<select id="psSchedule" resultType="ProfessorDTO">
		SELECT psc_no, ps_no, ymd, hr FROM psschedule;
	</select>
	
	<select id="getAll" parameterType="String" resultType="Map">
    	SELECT psc_no, ps_no, ymd, hr, GET_CD_NM('CO0010', hr) AS hr_nm FROM psschedule WHERE ymd = #{selectedDate} AND psc_reserved = '0';
	</select>
	
	<update id="pscReserved" parameterType="Map">
		UPDATE psschedule SET psc_reserved = '1' WHERE ymd = #{date} AND hr = #{time};
	</update>
</mapper>