<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.avocado.web.repository.ProfessorDAO">

	<select id="studentInfo" parameterType="String" resultType="ProfessorDTO">
		SELECT stud_no, user_no, stud_nm, scsbjt_cd, ps_no, stud_telno FROM student WHERE user_no = (SELECT uno FROM user WHERE uname = #{uname});
	</select>
	
	<insert id="savePs" parameterType="Map">
		INSERT INTO pscounsel (stud_no, ps_class, ps_cn, psc_no, ps_hr, ps_ymd) VALUES (#{studentNumber}, #{value}, #{content}, #{psc_no}, #{time}, #{date});
	</insert>
	
	<select id="psSchedule" parameterType="ProfessorDTO" resultType="ProfessorDTO">
		SELECT psc_no, ps_no, psc_ymd, psc_hr, GET_CD_NM('CO0010', psc_hr) AS hr_nm FROM psschedule WHERE ps_no = #{ps_no};
	</select>
	
	<select id="getAll" parameterType="Map" resultType="Map">
    	SELECT psc_no, ps_no, psc_ymd, psc_hr, GET_CD_NM('CO0010', psc_hr) AS hr_nm FROM psschedule WHERE psc_ymd = #{selectedDate} AND psc_reserved = '0' 
    	AND ps_no = (SELECT ps_no FROM professor WHERE scsbjt_cd = (SELECT scsbjt_cd FROM student WHERE user_no = (SELECT uno FROM user WHERE uname = #{uname})));
	</select>
	
	<update id="pscReserved" parameterType="Map">
		UPDATE psschedule SET psc_reserved = '1' WHERE psc_ymd = #{date} AND psc_hr = #{time} AND psc_no = #{psc_no};
	</update>
	
	<select id="professorInfo" parameterType="int" resultType="ProfessorDTO">
		SELECT ps_no, user_no, ps_nm, scsbjt_cd FROM professor WHERE user_no = #{uno};
	</select>
	
	<insert id="registPsCounsel" parameterType="Map">
		INSERT INTO psschedule (ps_no, psc_ymd, psc_hr)
    SELECT 
        (SELECT ps_no FROM professor WHERE ps_nm = #{psName}), 
        #{selectedDate}, 
        #{times}
    WHERE NOT EXISTS (
        SELECT 1 
        FROM psschedule 
        WHERE ps_no = (SELECT ps_no FROM professor WHERE ps_nm = #{psName}) 
        AND psc_ymd = #{selectedDate} 
        AND psc_hr = #{times}
    );
	</insert>
	
	<select id="psCounselList" parameterType="String" resultType="ProfessorDTO">
		SELECT s.stud_nm, p.pseq_no, p.ps_ymd, GET_CD_NM('CO0010', ps_hr) AS ps_hr, p.ps_status, p.ps_cn, p.ps_class, p.stud_no, p.psc_no FROM stu_user s 
		JOIN pscounsel p ON s.stud_no = p.stud_no 
		JOIN ps_user u ON s.scsbjt_cd = u.scsbjt_cd WHERE u.uname = #{uname}
	</select>
	
	<update id="changeStatus" parameterType="Map">
		UPDATE pscounsel SET ps_status = ${status} WHERE pseq_no= #{no}
	</update>
	
	<select id="psTimeList" parameterType="Map" resultType="Map">
		SELECT a.psc_no, a.ps_no, a.psc_ymd, a.psc_hr FROM psschedule a JOIN ps_user b ON a.ps_no = b.ps_no WHERE psc_ymd = #{selectedDate} AND uname = #{uname}
	</select>
	
	<select id="studentList" parameterType="int" resultType="ProfessorDTO">
		SELECT stud_nm, stud_no, uid, scsbjt_cd, GET_CD_NM('U01', scsbjt_cd) AS scsbjt_nm, uemail FROM stu_user 
		WHERE scsbjt_cd = (SELECT scsbjt_cd FROM ps_user WHERE uno = #{uno}) 
	</select>
</mapper>