<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.avocado.web.repository.UserDAO">
	<select id="login" parameterType="java.util.Map">
    SELECT COUNT(*) as count, uname FROM user 
    WHERE uid=#{uid} AND #{pw}=AES_DECRYPT(UNHEX(upw),#{encryptKey})
</select>
</mapper>