<!doctype html>
<html lang="ko" data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:insert="~{./fragments.html :: headTag}"></th:block>
  <style type="text/css">
  main {
  	display:row;
  }
  .mainContents {
  	margin: 0 auto;
  	height: auto;
  	min-height: 600px;
  	display: flex;
  }
  </style>
</head>
<body>	
	<main class="container">		
		<th:block th:insert="~{./fragments.html :: menu}"></th:block>	
		<th:block th:insert="~{./fragments.html :: headerImg}"></th:block>
		
		<div class="mainContents" style="width: 100%;">
			<!-- =============사이드바============== -->
			<th:block th:insert="~{./fragments.html :: counselSidebar}"></th:block>	
			<div>
				<h1>집단 상담</h1>	
				<div>
						<h4 class="h4-tit01">집단상담이란?</h4>
						<p class="con-mg-b">비슷한 관심사를 가진 학생들과 전문상담자가 함께 모여 여러 활동과 대화를 통해서 문제해결을 돕고 자기 성장을 도모하는 프로그램입니다.</p>
				</div>
				
				<div>
					<a th:href="@{/group/programList}">집단상담 신청하기</a>
				</div>		
			</div>
		</div>
	</main>
	<!-- FOOTER -->
	<th:block th:insert="~{./fragments.html :: footer}"></th:block>
	<script type="text/javascript">

	</script>
</body>
</html>