<!doctype html>
<html lang="ko" data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:insert="~{./fragments.html :: headTag}"></th:block>
  <style type="text/css">
  main {
  	display:row;
  }
  .mainContents {
  	margin: 0 auto;
  	height: auto;
  	min-height: 600px;
  	display: flex;
  }
  .programInfo {
  	width: 100%;
  	height: 100%;
  	margin: 15px;
  	padding: 10px;
  }
  .pageText {
  	
  }
  </style>
</head>
<body>	
	<main class="container">		
		<th:block th:insert="~{./fragments.html :: menu}"></th:block>	
		<th:block th:insert="~{./fragments.html :: headerImg}"></th:block>
		
		<div class="mainContents" style="width: 100%;">
			<!-- =============사이드바============== -->
			<th:block th:insert="~{./fragments.html :: counselSidebar}"></th:block>	
			<div class="programInfo">	
				<div class="pageText mb-5">
			
			      <article class="blog-post">
			        <h1 class="my-2">집단 상담</h1>			
			        <hr>
			      </article>
			      <article class="blog-post mb-4">
					<h4 class="h4-tit01 m-2">집단상담이란?</h4>
					<p class="ms-4 mt-3">비슷한 관심사를 가진 학생들과 전문상담자가 함께 모여 여러 활동과 대화를 통해서 문제해결을 돕고 자기 성장을 도모하는 프로그램입니다.</p>
			      </article>
			      <article class="blog-post mb-4">
					<h4 class="h4-tit01 m-2">집단상담 주제</h4>
			        <dl class="m-3">
			          <dt class="my-2 ms-2">대인관계 향상 프로그램</dt>
			          <dd class="ms-4 mb-3">- 효과적인 소통 기술을 배우고, 타인과의 관계를 개선하는 데 도움을 주기 위한 프로그램입니다. 자신감을 키우고 긍정적인 인간관계를 구축하는 법을 함께 탐구합니다.</dd>
			          <dt class="my-2 ms-2">명상을 통한 자기 수용 및 스트레스 관리</dt>
			          <dd class="ms-4 mb-3">- 내면의 평화를 찾고, 마음의 안정을 통해 스트레스를 효과적으로 관리하는 방법을 배울 수 있습니다. 자신에 대한 깊은 이해를 통하여 자기 긍정의 길로 나아갑니다.</dd>
			          <dt class="my-2 ms-2">진로 탐색 프로그램</dt>
			          <dd class="ms-4 mb-3">- 자신에게 맞는 직업을 발견하고, 미래를 계획하기 위한 코칭 프로그램입니다. 자신의 강점과 흥미를 바탕으로 최적의 진로를 찾아보세요.</dd>
			        </dl>
			      </article>
			    </div>
			    <div class="row my-1 mx-2">
				    <div class="col-md-6">
				      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative align-items-center bg-dark-subtle">
				        <div class="col p-4 d-flex flex-column position-static">
				          <h5 class="mb-0">집단상담 <br>신청하기</h5>
				          <a th:href="@{/group/programList}" class="icon-link gap-1 icon-link-hover stretched-link">
				            <svg class="bi"><use xlink:href="#chevron-right"/></svg>
				          </a>
				        </div>
				        <div class="col-auto d-none d-lg-block">
				          <svg class="bd-placeholder-img pd-1" width="180" height="150" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
				          	<defs>
							  <clipPath id="rounded-corners">
							    <rect x="0" y="0" width="175" height="150" rx="15" ry="15" />
							  </clipPath>
							</defs>
	 					    <image href="/img/aplyImg.jpg" x="0" y="0" width="175" height="150" clip-path="url(#rounded-corners)" />
							<rect x="160" y="0" width="10" height="150" fill="transparent" />
				          </svg>
				        </div>
				      </div>
				    </div>
			  	</div>
			</div>
		</div>
	</main>
	<!-- FOOTER -->
	<th:block th:insert="~{./fragments.html :: footer}"></th:block>
	<script type="text/javascript">

	</script>
</body>
</html>