<!doctype html>
<html lang="ko" data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:insert="~{./fragments.html :: headTag}"></th:block>
  
  	<!-- 추가 script -->
	<script type="text/javascript">
	
	</script>
  
  	<!-- 추가 css -->
	<style type="text/css">
	main {
  		display:row;
  	}
  	.mainContents {
  		margin: 0 auto;
  		height: auto;
  		min-height: 600px;
  		display: flex;
  	}
  	</style>
</head>
<body>	
	<main class="container">
		<th:block th:insert="~{./fragments.html :: menu}"></th:block>	
		<th:block th:insert="~{./fragments.html :: headerImg}"></th:block>

		<!-- 여기가 본문 -->
		<div class="mainContents">
		
		<!-- =============사이드바============== -->
		<th:block th:insert="~{./fragments.html :: counselSidebar}"></th:block>	
		
		<div>
				<div class="con_box">
					<div class="cont_guide">
					  <p class="text01">개인상담</p>
					  <p class="text02">개인상담은 대학생활 및 일상생활에서 발생하는 혼자 해결하기 어려운 주제를 상담 전문 선생님과 1:1 상담을 통해 해소하기 위한 심층적인 상담서비스입니다.</p>
					  <ul>
					    <li>개인상담은 주 1회, 약 50분간 진행되며 상담의 총 횟수는 문제의 심각성에 따라 달라질 수 있습니다.</li>
					    <li>상담내용 및 사적 정보는 비밀로 유지됩니다.</li>
					  </ul>
					</div>
					
					<div class="cont_area cont01">
					  <p class="title">개인상담 영역</p>
					  <div class="img_wrap">
					    <img src="" alt="">
					  </div>
					</div>
					
					<div class="cont_area cont02">
					  <p class="title">상담절차</p>
					  <div>
					    <ul>
					      <li>
					        <span>01</span>
					        <p>신청서 작성</p>
					      </li>
					      <li>
					        <span>02</span>
					        <p>접수면접 및 심리검사</p>
					      </li>
					      <li>
					        <span>03</span>
					        <p>개인상담 진행</p>
					      </li>
					    </ul>
					    <div>
					      <div>
					        <p class="text01">개인상담 신청</p>
					        <p class="text02">상담 전문가 선생님과 1:1 면담을 통해 자신을 이해하고 해결책을 모색하며 내면이 성숙해가는 과정입니다.</p>
					      </div>
					      <a href="./personal/apply" target="_blank"><span>상담 신청하기</span></a>
					    </div>
					  </div>
					</div></div>
			</div>
		
		
		
		</div>
		<!-- 본문 끝 -->
	</main>
	<!-- FOOTER -->
	<th:block th:insert="~{./fragments.html :: footer}"></th:block>
</body>
</html>
