<!doctype html>
<html lang="ko" data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- <link href="/admin/dist/css/style.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="/index/tuicalendar/css/calendar-app.css" />
  <th:block th:insert="~{./fragments.html :: headTag}"></th:block>
  <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
	<link rel="stylesheet" type="text/css" href="/admin/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
	<link rel="stylesheet" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.css"/>
	<link rel="stylesheet" href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css" />
  	<!-- 추가 script -->
	<script type="text/javascript">
	
	</script>
  
  	<!-- 추가 css -->
	<style type="text/css">
	main {
  		display:row;
  	}
  	.mainContents {
  		margin: 0 auto;
  		height: auto;
  		min-height: 600px;
  		display: flex;
  	}
  	.calendar-wrapper {
  		height: 600px;
  	}
  	.navbar-brand, .navbar-tabs {
  		min-height: 0 !important;
  		margin-left: 0 !important;
  	}
  	.container {
  		max-width: 1140px !important;
  	}
  	hr {
  		height: 0 !important;
  	}
  	</style>
</head>
<body>	
	<main class="container">
		<th:block th:insert="~{./fragments.html :: menu}"></th:block>	
		<th:block th:insert="~{./fragments.html :: headerImg}"></th:block>

		<!-- 여기가 본문 -->
		<div class="mainContents">
		
		<!-- =============사이드바============== -->
		<th:block th:insert="~{./fragments.html :: counselSidebar}"></th:block>	
		
		<div class="container-fluid">
			<div class="card-body border-bottom">
				<h4 class="card-title my-3">상담 예약</h4>
			</div>
			<div class="card-body mt-3">
	<!-- =================================캘린더 메뉴==================================== -->
				<div id="calendarMenu">
					<!-- 여기 드롭다운으로 -->
					<nav class="navbar d-flex justify-content-between align-items-center">
					<div class="dropdown">
	      			<div class="dropdown-trigger">
		                <button class="button is-rounded" aria-haspopup="true" aria-controls="dropdown-menu">
		                  <span class="button-text"></span>
		                  <span class="dropdown-icon toastui-calendar-icon toastui-calendar-ic-dropdown-arrow"></span>
		                </button>
		              </div>
		              <div class="dropdown-menu">
		                <div class="dropdown-content">
		                <th:block th:each="csl : ${counselors}">
		                  <a href="#" class="dropdown-item" th:data-counsel-no="${csl.cns_no}" th:data-counsel-field="${csl.cns_field}" th:data-counsel-name="${csl.cns_nm}">[[${csl.cns_field}]] - [[${csl.cns_nm}]]</a>
		                </th:block>
		                </div>
		              </div>
		            </div>
				<span class="calendar-render-range"></span>
				<span>
					<button type="button" id="todayBtn" class="calendar-btn calendar-move-today">Today</button>
					<button type="button" id="prevBtn" class="calendar-btn calendar-move-day">
						<i class="calendar-icon ic-arrow-line-left"></i>
					</button>
					<button type="button" id="nextBtn" class="calendar-btn calendar-move-day">
						<i class="calendar-icon ic-arrow-line-right"></i>
					</button>
				</span>
				</nav>
			</div> <!-- 캘린더 메뉴 끝 -->
<!-- =================================캘린더 위치==================================== -->
			<div id="calendar" class="calendar-wrapper"></div>
			
			<!-- 모달 해야겠다 -->
			<form class="form-horizontal">
                                <div class="card-body">
                                    <h4 class="card-title">상담 신청</h4>
                                    <div class="form-group row">
                                        <label for="fname"
                                            class="col-sm-3 text-end control-label col-form-label">상담사명</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="csName"
                                                placeholder="상담사 이름">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="csLoc"
                                            class="col-sm-3 text-end control-label col-form-label">상담실</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="csLoc"
                                                placeholder="상담실 정보">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="datepicker-autoclose"
                                            class="col-sm-3 text-end control-label col-form-label">날짜</label>
                                        <div class="col-sm-9">
                                            <div class="input-group">
			                                    <input type="text" class="form-control" id="datepicker-autoclose"
			                                        placeholder="yyyy-mm-dd">
			                                    <div class="input-group-append">
			                                        <span class="input-group-text h-100"><i class="fa fa-calendar"></i></span>
			                                    </div>
			                                </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                    <label class="col-md-3 text-end">시간 단위</label>
                                    <div class="col-md-9">
                                        <div class="form-check mr-sm-2">
                                            <input type="checkbox" class="form-check-input"
                                                id="customControlAutosizing1">
                                            <label class="form-check-label mb-0" for="customControlAutosizing1">First
                                                One</label>
                                        </div>
                                        <div class="form-check mr-sm-2">
                                            <input type="checkbox" class="form-check-input"
                                                id="customControlAutosizing2">
                                            <label class="form-check-label mb-0" for="customControlAutosizing2">Second
                                                One</label>
                                        </div>
                                        <div class="form-check mr-sm-2">
                                            <input type="checkbox" class="form-check-input"
                                                id="customControlAutosizing3">
                                            <label class="form-check-label mb-0" for="customControlAutosizing3">Third
                                                One</label>
                                        </div>
                                    </div>
                                </div>
                                    <div class="form-group row">
                                        <label for="cono1"
                                            class="col-sm-3 text-end control-label col-form-label">코멘트</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-top">
                                    <div class="card-body">
                                        <button type="button" class="btn btn-success text-white" style="width:100%;">입력</button>
                                    </div>
                                </div>
                            </form>
			<!-- <h2>상담신청 폼</h2>
			  <div class="mb-3 row">
			    <label for="staticEmail" class="col-sm-2 col-form-label">상담사</label>
			    <div class="col-sm-10">
			      <input type="text" readonly class="form-control-plaintext" id="staticEmail" th:value="${cns_nm}">
			    </div>
			  </div>
			  <div class="mb-3 row">
			    <label for="inputPassword" class="col-sm-2 col-form-label">날짜</label>
			    <div class="col-sm-10">
			      <input type="password" class="form-control" id="inputPassword">
			    </div>
			  </div>
			  <div class="mb-3 row">
			    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
			    <div class="col-sm-10">
			      <input type="password" class="form-control" id="inputPassword">
			    </div>
			  </div> -->
			
			</div> <!-- 캘린더 card-body 끝 -->
		</div> <!-- container-fluid 끝 -->
		</div>
		<!-- 본문 mainContents 끝 -->
	</main>
	<!-- FOOTER -->
	<th:block th:insert="~{./fragments.html :: footer}"></th:block>
	<script src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.1.8/chance.min.js"></script>
    <script src="/admin/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.js"></script>
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
    <script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.js"></script>
    <!-- <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script> -->
    <script type="text/javascript" src="/index/tuicalendar/js/calendar-data.js"></script>
    <script type="text/javascript" src="/admin/custom/utils.js"></script>
    <script type="text/javascript" src="/index/tuicalendar/js/calendar-app.js"></script>
    <!-- <script type="text/javascript" src="/admin/custom/grid-app.js"></script> -->
    <!-- <script type="text/javascript" src="/admin/custom/app.js"></script> -->
    <script type="text/javascript">
	    /*datwpicker*/
	    jQuery('#datepicker-autoclose').datepicker({
	    	format: 'yyyy-mm-dd',
	    	startDate: '-d',
	    	calendarWeeks: true,
	        autoclose: true,
	        todayHighlight: true
	    });
	    
    </script>
</body>
</html>
