<!doctype html>
<html lang="ko" data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:insert="~{./fragments.html :: headTag}"></th:block>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.11.0/dist/sweetalert2.all.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.11.0/dist/sweetalert2.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <style type="text/css">
  main {
  	display:row;
  }
  .mainContents {
  	margin: 0 auto;
  	height: auto;
  	min-height: 600px;
  	display: flex;
  }
  .programInfo {
  	width: 100%;
  	height: 100%;
  	margin: 15px;
  	padding: 10px;
  }
  .pageText {
  	
  }
  </style>
</head>
<body>	
	<main class="container">		
		<th:block th:insert="~{./fragments.html :: menu}"></th:block>	
		<th:block th:insert="~{./fragments.html :: headerImg}"></th:block>
		
		<div class="mainContents" style="width: 100%;">
			<!-- =============사이드바============== -->
			<th:block th:insert="~{./fragments.html :: counselSidebar}"></th:block>	
			<div class="programInfo">	
				<div class="pageText mb-5">
			
			      <article class="blog-post">
			        <h1 class="my-2">집단 상담</h1>			
			        <hr>
			      </article>
			      <article class="blog-post mb-4">
					<h4 class="h4-tit01 m-2">프로그램 상세보기</h4>
			      </article>
			      <article class="blog-post mb-4">
			      	<div class="card m-2">
			      		<div class="card-body">
			      			<h5 class="card-title mx-4" th:text="${detail.prg_nm}"></h5>
			      			<hr>
			      			<div class="programInfo">
			      				<table class="table text-center">
			      					<thead>
			      						<tr>
			      							<th>정원</th>
			      							<th>기간</th>
			      							<th>일시</th>
			      							<th>장소</th>
			      						</tr>
			      					</thead>
			      					<tbody>
			      						<tr>
			      							<td>[[(${detail.prg_nope})]]명</td>
			      							<td th:text="${detail.prg_schdl}"></td>
			      							<td>매주 [[(${detail.prg_dow})]]요일 [[(${detail.prg_hr})]]</td>
			      							<td th:text="${detail.prg_place}"></td>
			      						</tr>
			      					</tbody>
			      				</table>
			      			</div>
			      			<div class="programContent mx-3">
							    <p class="card-text m-2" th:utext="${detail.prg_content}"></p>
			      			</div>
			      		</div>
			      	</div>
			      </article>
				  <div class="m-2">
					  <button class="btn btn-outline-secondary" id="apply" th:attr="onclick=|programApply('${detail.prg_no}', '${detail.prg_nm}')|">신청하기</button>
			      </div>
			    </div>

			</div>
		</div>
	</main>
	<!-- FOOTER -->
	<th:block th:insert="~{./fragments.html :: footer}"></th:block>
	<script type="text/javascript">		
		
		const programApply = (no, title) =>{
			//alert(no + " : " + title);
			Swal.fire({
				title: title,
				text: '프로그램 참가를 신청하시겠습니까?',
				icon: 'question',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: '신청',
				cancelButtonText: '취소',
				showLoaderOnConfirm: true,
				preConfirm: (apply) =>{
					return fetch('/group/programApply?no='+no)
					.then(response => {
						if (response.ok){
							return response.json()					
						}
						throw new Error(response.statusText)
					}).catch(error => {
						Swal.showValidationMessage('통신오류')
					})
				},
				allowOutsideClick: () => !Swal.isLoading()
			}).then(apply =>{	
				if (apply.isConfirmed){
					if (apply.value.count == "0") {
						$.ajax({
							url: '/group/programApply',
							type: "post",
							dataType: "json",
							data : {'no' : no},
							success : data => {
								if(data.status === "success") {									
									Swal.fire('신청 완료', data.message, 'success');						
								} else {
									Swal.fire('신청 실패', data.message, 'error');
								}
								
								 console.log(data.status);
							},
							error : () => {
								Swal.fire('통신 실패', 'ㅠㅠ', 'error');						
							}
						});
					} else if (apply.value.count == "1"){
						Swal.fire('이미 신청한 프로그램입니다.', '', 'error');									
					}
				} else if (apply.isDismissed){
					Swal.fire('신청을 취소했습니다.', '', 'warning');					
				}
			})
			
		}
		
	</script>
</body>
</html>