<!doctype html>
<html lang="ko" data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:insert="~{./fragments.html :: headTag}"></th:block>
  <style type="text/css">
  main {
  	display:row;
  }
  .mainContents {
  	margin: 0 auto;
  	height: auto;
  	min-height: 600px;
  	display: flex;
  }
  </style>
</head>
<body>	
	<main class="container">		
		<th:block th:insert="~{./fragments.html :: menu}"></th:block>	
		<th:block th:insert="~{./fragments.html :: headerImg}"></th:block>
		
		<div class="mainContents" style="width: 100%;">
			<!-- =============사이드바============== -->
			<th:block th:insert="~{./fragments.html :: counselSidebar}"></th:block>	
			<div>
				<h1>집단 상담 신청</h1>	
				<div>
					
				</div>		
			</div>
		</div>
	</main>
	<!-- FOOTER -->
	<th:block th:insert="~{./fragments.html :: footer}"></th:block>
</body>
</html>