<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
    <th:block th:insert="~{./admin/thfragments/fragments.html :: headTag}"></th:block>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/admin/assets/extra-libs/multicheck/multicheck.css">
    <link href="/admin/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
    <script type="text/javascript">
    	
    </script>
    <style type="text/css">
	
#contentModal {
	  min-width: 700px;
	  min-height: 700px;
	  position: fixed;
	  top: 0;
	  left: 0;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  background: rgba(0, 0, 0, 0.5);
	}
	
	#contentModal.hidden {
	  display: none;
	}
	
	#contentModal .modal-dialog {
		min-width: 700px;
		min-height: 400px;
	}
    </style>
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
 	<th:block th:insert="~{./admin/thfragments/fragments.html :: preloader}"></th:block>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <th:block th:insert="~{./admin/thfragments/fragments.html :: topbarHeader}"></th:block>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <th:block th:insert="~{./admin/thfragments/fragments.html :: leftSidebar}"></th:block>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">지도교수 관리 페이지</h4>
                        <div class="ms-auto text-end">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->

                <div class="row">
                    <div class="col-md-10">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-md-flex align-items-center">
                                	<h4 class="card-title">상담일정관리</h4>
                                </div>
                                <!-- table -->
                                <div class="table-responsive">
                                    <table id="zero_config" class="table table-striped table-bordered">
                                    	<thead>
                                    		<tr>
                                    			<th>no</th>
                                    			<th>학생</th>
                                    			<th>상담날짜</th>
                                    			<th>상담시간</th>
                                    			<th>진행상태</th>
                                    			<th>상태변경</th>
                                    		</tr>
                                    	</thead>
                                    	<tbody id="psList">
                                    		<tr th:each="a : ${list}" id="psTable">
                                    			<td th:text="${a.pseq_no}" class="no" th:value="${a.pseq_no}"></td>
                                    			<td th:attr="onclick=|showContent('${a.pseq_no}', '${a.ps_class}', '${a.ps_cn}')|" th:text="${a.stud_nm}"></td>
                                    			<td th:attr="onclick=|showContent('${a.pseq_no}', '${a.ps_class}', '${a.ps_cn}')|" th:text="${a.ps_ymd}"></td>
                                    			<td th:attr="onclick=|showContent('${a.pseq_no}', '${a.ps_class}', '${a.ps_cn}')|" th:text="${a.ps_hr}"></td>
                                    			<td class="statusText" th:if="${a.ps_status} == '10'" th:text="신청"></td>
                                    			<td class="statusText" th:if="${a.ps_status} == '20'" th:text="확정"></td>
                                    			<td class="statusText" th:if="${a.ps_status} == '30'" th:text="완료"></td>
                                    			<td class="statusText" th:if="${a.ps_status} == '40'" th:text="미진행"></td>
                                    			<td>
                                    				<select class="status">
                                    					<option selected disabled>-선택-</option>
                                    					<option value="10" th:text="신청"></option>
                                    					<option value="20" th:text="확정"></option>
                                    					<option value="30" th:text="완료"></option>
                                    					<option value="40" th:text="미진행"></option>
                                    				</select>
                                    			</td>
                                    		</tr>
                                    	</tbody>
                                    </table>
                                </div>
                                    
                                <!-- table -->


                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal hidden" id="contentModal">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title fs-5" id="modalTitle">상세보기</h5>
				      </div>
				      <div class="modal-body">
				      	<div class="mt-2" id="modalContent">
					       <p id="here">Modal body text goes here.</p>
				      	</div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-primary" id="sub">승인</button>
				        <button type="button" class="btn btn-secondary" id="closeModal">취소</button>
				      </div>
				    </div>
				  </div>
				</div>
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <th:block th:insert="~{./admin/thfragments/fragments.html :: footer}"></th:block>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <th:block th:insert="~{./admin/thfragments/fragments.html :: jqueryScript}"></th:block>
    <!-- this page js -->
    <script src="/admin/assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
    <script src="/admin/assets/extra-libs/multicheck/jquery.multicheck.js"></script>
    <script src="/admin/assets/extra-libs/DataTables/datatables.min.js"></script>
    <script>
        /****************************************
         *       Basic Table                   *
         ****************************************/
	    $('#zero_config').DataTable({
	    	order:[0, 'desc'],
	    	ordering:true
	    });     
		
		const contentModal = document.getElementById("contentModal");
		const closeModal = document.getElementById("closeModal");
		
		function showContent(no, a, b){
			var pseq_no = no;
			 $("#modalTitle").text(no);
	         $("#modalContent").html("상담 종류: " + a+"<br><br>"+"상담 받을 내용: " + b);  // JSON 응답에서 content를 가져와서 모달 내용 업데이트
	         contentModal.classList.remove('hidden');
	         
		}
		
		closeModal.addEventListener('click', () => {
			contentModal.classList.add('hidden');
		})
		
		// 상태변화 드롭다운 선택시  ajax로 보내기
		$(document).ready(function(){
			$('.status').on('change', function(){
				var changeStatus = $(this).val();
				var no = $(this).closest('tr').find('.no').text();
				var statusTextElement = $(this).closest('tr').find('.statusText');
				console.log(no);
				
				$.ajax({
					url: '/admin/changeStatus',
					type: 'post',
					data: {
						"status" : changeStatus,
						"no" : no
					},
					success: function(response){
						
						// 상태 선택 시 화면에 바로 출력되게하기
						var statusText = '';
						switch(changeStatus) {
						case '10': statusText = '신청';
							break;
						case '20': statusText = '확정';
							break;
						case '30': statusText = '완료';
							break;
						case '40': statusText = '미진행';
							break;
						}
						statusTextElement.text(statusText);
					},
					
					error: function(error) {
						alert(error + "에러임다");
					}
				});
			});
		});
        
    </script>
</body>

</html>