<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:insert="~{./admin/thfragments/fragments.html :: headTag}"></th:block>
	<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
	<link rel="stylesheet" type="text/css" href="/admin/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
	<link rel="stylesheet" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.css"/>
	<link rel="stylesheet" href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css" />
	<link rel="stylesheet" href="/admin/custom/calendar-custom.css" />
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <th:block th:insert="~{./admin/thfragments/fragments.html :: preloader}"></th:block>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <th:block th:insert="~{./admin/thfragments/fragments.html :: topbarHeader}"></th:block>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <th:block th:insert="~{./admin/thfragments/fragments.html :: leftSidebar}"></th:block>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">지도교수 관리페이지</h4>
                        <div class="ms-auto text-end">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="./index">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="">
                                <div class="row">
                                    <div class="col-lg-3 border-right pe-0">
                                        <div class="card-body border-bottom">
                                            <h4 class="card-title mt-2">지도교수 상담 일정 등록</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div id="calendar-events" class="">
                                                    <div class="card">
                            <form class="form-horizontal" action="/registPsCounsel" method="post">
                                <div class="card-body">
                                	<th:block th:each="item : ${list}">
                                    <h4 class="card-title"></h4>
                                    <div class="form-group row">
                                        <label for="psName"
                                            class="col-sm-3 text-end control-label col-form-label">지도교수</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="psName" name="psName" onfocus="this.value"
                                               th:value="${item.ps_nm}" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="scsbjt"
                                            class="col-sm-3 text-end control-label col-form-label">전공과</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="scsbjt" name="scsbjt" onfocus="this.value"
                                                th:value="${item.scsbjt_cd}" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="datepicker-autoclose"
                                            class="col-sm-3 text-end control-label col-form-label">날짜</label>
                                        <div class="col-sm-9">
                                            <div class="input-group">
			                                    <input type="text" class="form-control" id="datepicker-autoclose"
			                                        placeholder="yyyy-mm-dd">
			                                    <div class="input-group-append">
			                                        <span class="input-group-text h-100"><i class="fa fa-calendar"></i></span>
			                                    </div>
			                                </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                    <label class="col-md-3 text-end">시간 단위</label>
                                    <div class="col-md-9">
                                        <div class="form-check mr-sm-2">
                                            <input type="checkbox" class="form-check-input"
                                                id="customControlAutosizing1">
                                            <label class="form-check-label mb-0" for="customControlAutosizing1">First
                                                One</label>
                                        </div>
                                        <div class="form-check mr-sm-2">
                                            <input type="checkbox" class="form-check-input"
                                                id="customControlAutosizing2">
                                            <label class="form-check-label mb-0" for="customControlAutosizing2">Second
                                                One</label>
                                        </div>
                                        <div class="form-check mr-sm-2">
                                            <input type="checkbox" class="form-check-input"
                                                id="customControlAutosizing3">
                                            <label class="form-check-label mb-0" for="customControlAutosizing3">Third
                                                One</label>
                                        </div>
                                    </div>
                                </div>
                                    
                                </div>
                                <div class="border-top">
                                    <div class="card-body">
                                        <button type="button" class="btn btn-success text-white" style="width:100%;">입력</button>
                                    </div>
                                </th:block>
                                </div>
                            </form>
                        </div>
                                                    </div>
                                                    <!-- checkbox -->
                                                    <a href="javascript:void(0)" id="addEventBtn"
                                                        class="btn mt-3 btn-info d-block waves-effect waves-light">
                                                        <i class="ti-plus"></i> Add New Event
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="card-body b-l calender-sidebar">
              <!-- =================================캘린더 메뉴==================================== -->
                                        	<div id="calendarMenu" class="d-flex justify-content-between align-items-center">
                                        	<span>
                                        		<button type="button" id="monthViewBtn" class="calendar-btn calendar-move-today">Month</button>
                                        		<button type="button" id="twoWeeksViewBtn" class="calendar-btn calendar-move-today">2Weeks</button>
                                        		<button type="button" id="weekViewBtn" class="calendar-btn calendar-move-today">Week</button>
                                        	</span>
                                        	<span class="calendar-render-range"></span>
                                        	<span>
                                        		<button type="button" id="todayBtn" class="calendar-btn calendar-move-today">Today</button>
                                        		<button type="button" id="prevBtn" class="calendar-btn calendar-move-day">
                                        			<i class="calendar-icon ic-arrow-line-left"></i>
                                        		</button>
                                        		<button type="button" id="nextBtn" class="calendar-btn calendar-move-day">
                                        			<i class="calendar-icon ic-arrow-line-right"></i>
                                        		</button>
                                        	</span>
                                        	</div>
             <!-- =================================캘린더 위치==================================== -->
                                            <div id="calendar" class="calendar-wrapper"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- BEGIN MODAL -->
                <div class="modal none-border" id="my-event">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title"><strong>Add Event</strong></h4>
                                <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary waves-effect"
                                    data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-success save-event waves-effect waves-light">Create
                                    event</button>
                                <button type="button" class="btn btn-danger delete-event waves-effect waves-light"
                                    data-dismiss="modal">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Add Category -->
                <div class="modal fade none-border" id="add-new-event">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title"><strong>Add</strong> a category</h4>
                                <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="control-label">Category Name</label>
                                            <input class="form-control form-white" placeholder="Enter name" type="text"
                                                name="category-name" />
                                        </div>
                                        <div class="col-md-6">
                                            <label class="control-label">Choose Category Color</label>
                                            <select class="form-select shadow-none form-white" data-placeholder="Choose a color..."
                                                name="category-color">
                                                <option value="success">Success</option>
                                                <option value="danger">Danger</option>
                                                <option value="info">Info</option>
                                                <option value="primary">Primary</option>
                                                <option value="warning">Warning</option>
                                                <option value="inverse">Inverse</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger waves-effect waves-light save-category"
                                    data-dismiss="modal">Save</button>
                                <button type="button" class="btn btn-secondary waves-effect"
                                    data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END MODAL -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <th:block th:insert="~{./admin/thfragments/fragments.html :: footer}"></th:block>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <th:block th:insert="~{./admin/thfragments/fragments.html :: jqueryScript}"></th:block>
    <script src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.1.8/chance.min.js"></script>
    <script src="/admin/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.js"></script>
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
    <script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.js"></script>
    <!-- <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script> -->
    <script type="text/javascript" src="/admin/custom/calendar-data.js"></script>
    <script type="text/javascript" src="/admin/custom/utils.js"></script>
    <script type="text/javascript" src="/admin/custom/calendar-app.js"></script>
    <!-- <script type="text/javascript" src="/admin/custom/grid-app.js"></script> -->
    <script type="text/javascript" src="/admin/custom/app.js"></script>
    <script type="text/javascript">
	    /*datwpicker*/
	    jQuery('#datepicker-autoclose').datepicker({
	    	format: 'yyyy-mm-dd',
	    	startDate: '-d',
	    	calendarWeeks: true,
	        autoclose: true,
	        todayHighlight: true,
	        daysOfWeekDisabled: [0,6]
	        
	        
	    })
	    // 날짜 클릭 시 값 selectedDate에 저장
	    .on('changeDate', function(e){
	    	selectedDate = e.format('yyyy-mm-dd');
	    	alert(selectedDate);
	    });
	    
	    
	    
    </script>
</body>

</html>