<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:insert="~{./admin/thfragments/fragments.html :: headTag}"></th:block>
	<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
	<link rel="stylesheet" type="text/css" href="/admin/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
	<link rel="stylesheet" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.css"/>
	<link rel="stylesheet" href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css" />
	<link rel="stylesheet" href="/admin/professor/calendar-custom.css" />

<style type="text/css">

.unselectable, .unselectable * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; 
}
.hidden {
  display:none;
}
.checkbox {
  display:inline-block;
  width:200px;
  height:40px;
  border:1px solid rgba(0,0,0,0.08);
  background:#eee;
  text-align:center;
  line-height:38px;
  color:#666;
  -webkit-transition:background .15s ease;
  transition:background .15s ease;
}
.item + .item {
  margin-top:5px;
}
input:checked + .checkbox {
/*   background:#21bad9; */
  background:#d4b8e5;
  color:#fff;
}

</style>
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <th:block th:insert="~{./admin/thfragments/fragments.html :: preloader}"></th:block>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <th:block th:insert="~{./admin/thfragments/fragments.html :: topbarHeader}"></th:block>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <th:block th:insert="~{./admin/thfragments/fragments.html :: leftSidebar}"></th:block>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">지도교수 관리페이지</h4>
                        <div class="ms-auto text-end">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="./index">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="">
                                <div class="row">
                                    <div class="col-lg-3 border-right pe-0">
                                        <div class="card-body border-bottom">
                                            <h4 class="card-title mt-2">지도교수 상담 일정 등록</h4>
                                        </div>
                                        <input type="hidden" th:value="${session.pno}" id="pno">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div id="calendar-events" class="">
                                                    <div class="card">
                            <form class="form-horizontal" action="/admin/registPsCounsel" method="post" id="counselForm">
                                <div class="card-body">
                                	<th:block th:each="item : ${list}">
                                    <h4 class="card-title"></h4>
                                    <div class="form-group row">
                                        <label for="psName"
                                            class="col-sm-3 text-end control-label col-form-label">지도교수</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="psName" name="psName" onfocus="this.value"
                                               th:value="${item.ps_nm}" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="scsbjt"
                                            class="col-sm-3 text-end control-label col-form-label">전공과</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="scsbjt" name="scsbjt" onfocus="this.value"
                                                th:value="${item.scsbjt_cd}" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="datepicker-autoclose"
                                            class="col-sm-3 text-end control-label col-form-label">날짜</label>
                                        <div class="col-sm-9">
                                            <div class="input-group">
			                                    <input type="text" class="form-control" id="datepicker-autoclose"
			                                        placeholder="yyyy-mm-dd">
			                                        
			                                    <div class="input-group-append">
			                                        <span class="input-group-text h-100"><i class="fa fa-calendar"></i></span>
			                                        <input type="hidden" id="selectedDate" name="selectedDate">
			                                    </div>
			                                </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                    <label class="col-md-3 text-end">시간</label>
                                    <div class="col-md-9">
                                        <div class="form-check mr-sm-2 item">
                                            <input type="checkbox" class="hidden" id="9" name="time" value="09">
                                            <label class="form-check-label mb-0 checkbox" for="9">09:00 ~ 09:50</label>
                                        </div>
                                        
                                        <div class="form-check mr-sm-2 item">
                                            <input type="checkbox" class="hidden" id="10" name="time" value="10">
                                            <label class="form-check-label mb-0 checkbox" for="10">10:00 ~ 10:50</label>
                                        </div>
                                        
                                        <div class="form-check mr-sm-2 item">
                                            <input type="checkbox" class="hidden" id="11" name="time" value="11">
                                            <label class="form-check-label mb-0 checkbox" for="11">11:00 ~ 11:50</label>
                                        </div>
                                        
                                        <div class="form-check mr-sm-2 item">
                                            <input type="checkbox" class="hidden" id="12" name="time" value="12">
                                            <label class="form-check-label mb-0 checkbox" for="12">12:00 ~ 12:50</label>
                                        </div>
                                        
                                        <div class="form-check mr-sm-2 item">
                                            <input type="checkbox" class="hidden" id="13" name="time" value="13">
                                            <label class="form-check-label mb-0 checkbox" for="13">13:00 ~ 13:50</label>
                                        </div>
                                        
                                        <div class="form-check mr-sm-2 item">
                                            <input type="checkbox" class="hidden" id="14" name="time" value="14">
                                            <label class="form-check-label mb-0 checkbox" for="14">14:00 ~ 14:50</label>
                                        </div>
                                        
                                        <div class="form-check mr-sm-2 item">
                                            <input type="checkbox" class="hidden" id="15" name="time" value="15">
                                            <label class="form-check-label mb-0 checkbox" for="15">15:00 ~ 15:50</label>
                                        </div>
                                        
                                        <div class="form-check mr-sm-2 item">
                                            <input type="checkbox" class="hidden" id="16" name="time" value="16">
                                            <label class="form-check-label mb-0 checkbox" for="16">16:00 ~ 16:50</label>
                                        </div>
                                        
                                        <div class="form-check mr-sm-2 item">
                                            <input type="checkbox" class="hidden" id="17" name="time" value="17">
                                            <label class="form-check-label mb-0 checkbox" for="17">17:00 ~ 17:50</label>
                                        </div>
                                        
                                    </div>
                                </div>
                                    
                                </div>
                                <div class="border-top">
                                    <div class="card-body">
                                        <button type="button" class="btn btn-success text-white" id="submitBtn" style="width:100%;">일정 등록하기</button>
                                    </div>
                                </th:block>
                                </div>
                            </form>
                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="card-body b-l calender-sidebar">
              <!-- =================================캘린더 메뉴==================================== -->
                                        	<div id="calendarMenu" class="d-flex justify-content-between align-items-center">
                                        	<span>
                                        		<button type="button" id="monthViewBtn" class="calendar-btn calendar-move-today">Month</button>
                                        	</span>
                                        	<span class="calendar-render-range"></span>
                                        	<span>
                                        		<button type="button" id="todayBtn" class="calendar-btn calendar-move-today">Today</button>
                                        		<button type="button" id="prevBtn" class="calendar-btn calendar-move-day">
                                        			<i class="calendar-icon ic-arrow-line-left"></i>
                                        		</button>
                                        		<button type="button" id="nextBtn" class="calendar-btn calendar-move-day">
                                        			<i class="calendar-icon ic-arrow-line-right"></i>
                                        		</button>
                                        	</span>
                                        	</div>
             <!-- =================================캘린더 위치==================================== -->
                                            <div id="calendar" class="calendar-wrapper"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- 모달 HTML -->
				<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
				    <div class="modal-dialog" role="document">
				        <div class="modal-content">
				            <div class="modal-header">
				            </div>
				            <div class="modal-body">
				                일정을 등록하시겠습니까?
				            </div>
				            <div class="modal-footer">
				                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
				                <button type="button" class="btn btn-primary" id="confirmSubmit">제출</button>
				            </div>
				        </div>
				    </div>
				</div>
                
                
                <!-- END MODAL -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <th:block th:insert="~{./admin/thfragments/fragments.html :: footer}"></th:block>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script type="text/javascript">
    const pno = document.getElementById('pno');
    </script>
    <th:block th:insert="~{./admin/thfragments/fragments.html :: jqueryScript}"></th:block>
    <script src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.1.8/chance.min.js"></script>
    <script src="/admin/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.js"></script>
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
    <script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.js"></script>
    
    <!-- <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script> -->
    <script type="text/javascript" src="/admin/professor/calendar-data.js"></script>
    <script type="text/javascript" src="/admin/professor/utils.js"></script>
    <script type="text/javascript" src="/admin/professor/calendar-app.js"></script>
    <!-- <script type="text/javascript" src="/admin/professor/grid-app.js"></script> -->
    <!-- <script type="text/javascript" src="/admin/professor/app.js"></script> -->
    
    <script type="text/javascript">
	    /*datwpicker*/
	    jQuery('#datepicker-autoclose').datepicker({
	    	format: 'yyyy-mm-dd',
	    	startDate: '-d',
	    	calendarWeeks: true,
	        autoclose: true,
	        todayHighlight: true,
	        daysOfWeekDisabled: [0,6]
	    })
	    
	    // 날짜 클릭 시 값 selectedDate에 저장
	    .on('changeDate', function(e){
	    	selectedDate = e.format('yyyymmdd');
	    	$('#selectedDate').val(selectedDate);
	    	
	    	// 해당 날짜에 따른 DB에서 교수상담스케쥴 시간 조회
	    	$.ajax({
	    		url: "/admin/psTimeList",
	    		type: "post",
	    		data: {
	    			"selectedDate" : selectedDate
	    		},
	    		
	    		success : function(response) {
	    			console.log(response);
	    			var alreadyTimes = response;
	    			$('input[name="time"]').prop('checked', false).parent().show();
	    			alreadyTimes.forEach(function(time){
	    				$('input[name="time"][value="'+ time.psc_hr + '"]').prop('checked', false).parent().hide();
	    				console.log(time);
	    			});
	    		},
	    		error : function(error) {
	    			console.log(error)
	    		}
	    	});
	    	
	    	 // selectedDate에 날짜가 지정되면 시간 드래그 활성화
		    $.fn.dragCheckbox = function () {
		        var source = this;
		        var ConditionA = false;
		        var ConditionB = false;
		        source.parent().css({
		          '-webkit-user-select': 'none',
		          '-moz-user-select': 'none',
		          '-ms-user-select': 'none',
		          '-o-user-select': 'none',
		          'user-select': 'none'
		        });
		        source.mousedown(function(){
		            ConditionA = true;
		            ConditionB = true;
		        });
		        $(document).mouseup(function(){
		            ConditionA = false;
		            ConditionB = false;
		        })
		        source.mouseenter(function(){
		            if(ConditionA != false) {
		                $(this).trigger('click');
		                var checkbox = $(this).find('input[type="checlbox"]');
		                checkbox.prop('checked', !checkbox.prop('checked'));
		            }
		        });
		        source.mouseout(function(){
		            if(ConditionA != false && ConditionB != false) {
		                $(this).trigger('click');
		                ConditionB = false;
		            }
		        });
		    }
		      $('.checkbox').dragCheckbox();
		      $('.item').dragCheckbox();
		    // plugin - Click by Drag
	    });
	    
	    $(document).ready(function() {
	        // 제출 버튼 클릭 시 모달 표시
	        $('#submitBtn').click(function() {
	        	
	            var selectedTimes = [];
	        	
	        		
	            $('input[name="time"]:checked').each(function() {
	                selectedTimes.push($(this).next('label').text());
	            });
	            
	            
	            if(selectedDate == "[object HTMLInputElement]" || selectedTimes =="") {
	        		alert("날짜와 시간을 선택해주세요.");
	        		return false;
	        	}

	            var modalContent = '<p>날짜: ' + selectedDate + '</p>';
	            modalContent += '<p>시간:</p><ul>';
	            selectedTimes.forEach(function(time) {
	                modalContent += '<li>' + time + '</li>';
	            });
	            modalContent += '</ul><p>일정을 등록하시겠습니까?</p>';

	            $('.modal-body').html(modalContent);
	            $('#confirmModal').modal('show');
	        });
	     	// 모달의 취소 버튼 클릭 시 모달 닫기
	        $('.modal-footer .btn-secondary').click(function() {
	            $('#confirmModal').modal('hide');
	        });

	        // 모달의 제출 버튼 클릭 시 폼 제출
	        $('#confirmSubmit').click(function() {
	            $('#counselForm').submit();
	        });
	    });
    </script>
</body>

</html>